<style>
h2 { width: 100%; }
</style>
<div class="row">
This is a list of all tools and scripts by&nbsp;<a href='https://www.wikidata.org/wiki/User:Magnus_Manske' class='wikidata'>Magnus Manske</a>. There are currently 349 active tools. Other relevant pages:
</div><div class="row">
<ul>
<li>
	<a href='https://hay.toolforge.org/directory/#/author/Magnus%20Manske'>My tools</a> on <a href='https://hay.toolforge.org/directory'>Hay's tool directory</a>
</li>
<li>
	<a href='https://toolhub.wikimedia.org/search?author__term=Magnus Manske' class='external'>My tools</a> on <a href='https://toolhub.wikimedia.org' class='external'>ToolHub</a>
</li>
<li>
	<a href='/buggregator/'>Buggregator</a>, a bug/issue aggregator from github, bitbucket, talk pages etc.
</li>
</ul>
</div><div class='row' style='margin-bottom: 1rem; border:1px dashed black; padding: 5px;'><a href='#popular_tools'>Popular tools</a>&nbsp;|&nbsp;<a href='#most_used_tools'>Most used tools</a>&nbsp;|&nbsp;<a href='#commons'>Commons</a>&nbsp;|&nbsp;<a href='#wikidata'>Wikidata</a>&nbsp;|&nbsp;<a href='#wikisource'>Wikisource</a>&nbsp;|&nbsp;<a href='#education'>Education</a>&nbsp;|&nbsp;<a href='#maintained_from_other_users'>Maintained from other users</a>&nbsp;|&nbsp;<a href='#images'>Images</a>&nbsp;|&nbsp;<a href='#location'>Location</a>&nbsp;|&nbsp;<a href='#glam'>GLAM</a>&nbsp;|&nbsp;<a href='#across_projects'>Across projects</a>&nbsp;|&nbsp;<a href='#linked_data'>Linked data</a>&nbsp;|&nbsp;<a href='#bots'>Bots</a>&nbsp;|&nbsp;<a href='#ported_from_toolserver'>Ported from toolserver</a>&nbsp;|&nbsp;<a href='#templates'>Templates</a>&nbsp;|&nbsp;<a href='#code_only'>Code only</a>&nbsp;|&nbsp;<a href='#sighted_articles'>Sighted articles</a>&nbsp;|&nbsp;<a href='#api'>API</a>&nbsp;|&nbsp;<a href='#other'>Other</a></div>

<div class="row"><h2 id='popular_tools'>Popular tools</h2>
<ul>
<li><b><a href='https://mixnmatch.wmflabs.org/' >Mix-n-Match</a></b> GLAM catalog/Wikidata matching tool; red link lists on steroids. [<a href='https://bitbucket.org/magnusmanske/mixnmatch' class='external'>code repo</a>] [<a href='https://toolhub.wikimedia.org/tools/mm_mixnmatch'>ToolHub</a>]</li>
<li><b><a href='https://petscan.wmflabs.org/' >PetScan</a></b> Replacement for CatScan2, QuickIntersection, Creator, Autolist etc. [<a href='https://github.com/magnusmanske/petscan_rs' class='external'>code repo</a>] [<a href='https://toolhub.wikimedia.org/tools/mm_petscan'>ToolHub</a>] [<a href='https://www.wikidata.org/wiki/Q23665536' class='wikidata'>Wikidata item</a>]</li>
<li><b><a href='https://quickstatements.toolforge.org' >Quickstatements</a></b> Can add statements (with optional qualifiers and sources) to Wikidata items. [<a href='https://github.com/magnusmanske/quickstatements_rs' class='external'>code repo</a>] [<a href='https://toolhub.wikimedia.org/tools/mm_quick_statements'>ToolHub</a>]</li>
<li><b><a href='https://wikishootme.toolforge.org/WikiShootMe!' >WikiShootMe!</a></b> Shows Wikidata items in your area that do not have an image [<a href='https://bitbucket.org/magnusmanske/wikishootme' class='external'>code repo</a>] [<a href='https://toolhub.wikimedia.org/tools/mm_wikishootme'>ToolHub</a>] [<a href='https://www.wikidata.org/wiki/Q26964791' class='wikidata'>Wikidata item</a>]</li>
<li><b><a href='https://wikidata-game.toolforge.org/distributed' >Distributed game</a></b> The Distributed Wikidata Game, you can add your own! [<a href='https://toolhub.wikimedia.org/tools/mm_distributedgame'>ToolHub</a>]</li>
<li><b><a href='https://wikiflix.toolforge.org/' >WikiFlix</a></b> Shows PD and freely licensed movies in a streaming-site-like interface [<a href='https://toolhub.wikimedia.org/tools/toolforge-wikiflix'>ToolHub</a>]</li>
</ul></div>


<div class="row"><h2 id='most_used_tools'>Most used tools</h2>
<ul>
<div><i>Note:</i> Many tools do not collect centralized usage metrics.</div>
<li><b><a href='https://mixnmatch.wmflabs.org/' >Mix-n-Match</a></b> GLAM catalog/Wikidata matching tool; red link lists on steroids. [<a href='https://bitbucket.org/magnusmanske/mixnmatch' class='external'>code repo</a>] [<a href='https://toolhub.wikimedia.org/tools/mm_mixnmatch'>ToolHub</a>] (used 670,674 times last month)</li>
<li><b><a href='https://catfood.toolforge.org' >Catfood</a></b> RSS feeds for pages and files based on category or user name. [<a href='https://github.com/magnusmanske/catfood' class='external'>code repo</a>] [<a href='https://toolhub.wikimedia.org/tools/mm_catfood'>ToolHub</a>] (used 425,644 times last month)</li>
<li><b><a href='https://fist.toolforge.org' >FIST</a></b> The Free Image Search Tool. [<a href='https://toolhub.wikimedia.org/tools/mm_fist'>ToolHub</a>] (used 166,982 times last month)</li>
<li><b><a href='https://flickr2commons.toolforge.org' >Flickr2commons</a></b> Can upload single and multiple files from Flickr to Commons. [<a href='https://bitbucket.org/magnusmanske/flickr2commons' class='external'>code repo</a>] [<a href='https://toolhub.wikimedia.org/tools/mm_flickr2commons'>ToolHub</a>] (used 29,323 times last month)</li>
<li><b><a href='https://wikishootme.toolforge.org/WikiShootMe!' >WikiShootMe!</a></b> Shows Wikidata items in your area that do not have an image [<a href='https://bitbucket.org/magnusmanske/wikishootme' class='external'>code repo</a>] [<a href='https://toolhub.wikimedia.org/tools/mm_wikishootme'>ToolHub</a>] [<a href='https://www.wikidata.org/wiki/Q26964791' class='wikidata'>Wikidata item</a>] (used 20,166 times last month)</li>
<li><b><a href='https://isbn2wiki.toolforge.org' >Isbn2wiki</a></b> Generates wikitext reference texts for ISBNs. [<a href='https://toolhub.wikimedia.org/tools/mm_isbn2wiki'>ToolHub</a>] (used 9,448 times last month)</li>
<li><b><a href='https://glamtools.toolforge.org/glamorous1' >Glamorous1</a></b> A tool to keep track of Commons images used on other projects. [<a href='https://toolhub.wikimedia.org/tools/mm_glamorous'>ToolHub</a>] (used 8,333 times last month)</li>
<li><b><a href='https://glamtools.toolforge.org/glamorgan' >Glamorgan</a></b> GLAM tool [<a href='https://toolhub.wikimedia.org/tools/mm_glamorgan'>ToolHub</a>] (used 4,881 times last month)</li>
<li><b><a href='https://missingtopics.toolforge.org' >Missingtopics</a></b> Finds the 'most wanted' missing topics in an article or category tree. [<a href='https://toolhub.wikimedia.org/tools/mm_missing_topics'>ToolHub</a>] (used 2,608 times last month)</li>
<li><b><a href='https://fist.toolforge.org/WD-FIST' >WD-FIST</a></b> The Free Image Search Tool for Wikidata. Find items without image, but images in associated Wikipedia articles. [<a href='https://toolhub.wikimedia.org/tools/mm_wdfist'>ToolHub</a>] (used 2,032 times last month)</li>
<li><b><a href='https://not-in-the-other-language.toolforge.org' >Not-in-the-other-language</a></b> Finds Wikidata items with a Wikipedia page in language A but not in B. [<a href='https://bitbucket.org/magnusmanske/not-in-the-other-language' class='external'>code repo</a>] [<a href='https://toolhub.wikimedia.org/tools/mm_nitol'>ToolHub</a>] (used 2,003 times last month)</li>
<li><b><a href='https://url2commons.toolforge.org' >Url2commons</a></b> Can transfer files from a list of URLs to Commons. [<a href='https://bitbucket.org/magnusmanske/url2commons' class='external'>code repo</a>] [<a href='https://toolhub.wikimedia.org/tools/mm_url2commons'>ToolHub</a>] (used 1,971 times last month)</li>
<li><b><a href='https://icommons.toolforge.org' >Icommons</a></b> A Commons browser for mobile devices. [<a href='https://toolhub.wikimedia.org/tools/mm_icommons'>ToolHub</a>] (used 1,787 times last month)</li>
</ul></div>


<div class="row"><h2 id='commons'>Commons</h2>
<ul>
<li><b><a href='https://add-information.toolforge.org' >Add-information</a></b> Adds an {{Information}} template to a file on Commons. [<a href='https://bitbucket.org/magnusmanske/add_information' class='external'>code repo</a>] [<a href='https://toolhub.wikimedia.org/tools/mm_add_information'>ToolHub</a>]</li>
<li><b><a href='https://commons-delinquent.toolforge.org/CommonsDelinquent' >CommonsDelinquent</a></b> A rewrite of the CommonsDelinker bot [<a href='https://bitbucket.org/magnusmanske/commons-delinquent' class='external'>code repo</a>] [<a href='https://toolhub.wikimedia.org/tools/commons-delinquent'>ToolHub</a>]</li>
<li><b><a href='https://commonshelper.toolforge.org' >Commonshelper</a></b> Can transfer files from wiki(p|m)edia to Commons. [<a href='https://bitbucket.org/magnusmanske/commonshelper' class='external'>code repo</a>] [<a href='https://toolhub.wikimedia.org/tools/mm_commonshelper'>ToolHub</a>]</li>
<li><b><a href='https://filedupes.toolforge.org' >Filedupes</a></b> For finding image duplicates. A merge of 'userdupes' and 'commons_dupes' from toolserver. <i>PHP ERROR FIXME</i> [<a href='https://toolhub.wikimedia.org/tools/mm_file_dupes'>ToolHub</a>]</li>
<li><b><a href='https://flickr2commons.toolforge.org' >Flickr2commons</a></b> Can upload single and multiple files from Flickr to Commons. [<a href='https://bitbucket.org/magnusmanske/flickr2commons' class='external'>code repo</a>] [<a href='https://toolhub.wikimedia.org/tools/mm_flickr2commons'>ToolHub</a>]</li>
<li><b><a href='https://geograph2commons.toolforge.org' >Geograph2commons</a></b> Can upload a single file from geograph.co.uk etc. to Commons. [<a href='https://bitbucket.org/magnusmanske/geograph2commons' class='external'>code repo</a>] [<a href='https://toolhub.wikimedia.org/tools/mm_geograph2commons'>ToolHub</a>]</li>
<li><b><a href='https://glamtools.toolforge.org/baglama1' >Baglama1</a></b> Monthly view counts for pages containing images from selected Commons categories. Superceded by BaGLAMa2. [<a href='https://toolhub.wikimedia.org/tools/mm_baglama'>ToolHub</a>]</li>
<li><b><a href='https://glamtools.toolforge.org/baglama2' >Baglama2</a></b> Monthly view counts for pages containing images from selected Commons categories. [<a href='https://toolhub.wikimedia.org/tools/mm_baglama2'>ToolHub</a>]</li>
<li><b><a href='https://glamtools.toolforge.org/glamorous1' >Glamorous1</a></b> A tool to keep track of Commons images used on other projects. [<a href='https://toolhub.wikimedia.org/tools/mm_glamorous'>ToolHub</a>]</li>
<li><b><a href='https://glamtools.toolforge.org/glamorous2' >Glamorous2</a></b> A tool to keep track usage and views of Commons images on other projects. [<a href='https://toolhub.wikimedia.org/tools/mm_glamorous2'>ToolHub</a>]</li>
<li><b><a href='https://icommons.toolforge.org' >Icommons</a></b> A Commons browser for mobile devices. [<a href='https://toolhub.wikimedia.org/tools/mm_icommons'>ToolHub</a>]</li>
<li><b><a href='https://magnus-toolserver.toolforge.org/commons_counter.php' >Commons counter</a></b> <i>Might not work</i> [<a href='https://toolhub.wikimedia.org/tools/mm_commons_counter'>ToolHub</a>]</li>
<li><b><a href='https://magnus-toolserver.toolforge.org/commonsapi' >Commonsapi</a></b> Might not work <i>Might not work</i> [<a href='https://toolhub.wikimedia.org/tools/mm_commonsapi'>ToolHub</a>]</li>
<li><b><a href='https://magnus-toolserver.toolforge.org/my_commons_candidates.php' >My commons candidates</a></b> <i>Might not work</i> [<a href='https://toolhub.wikimedia.org/tools/mm_my_commons_candidates'>ToolHub</a>]</li>
<li><b><a href='https://magnus-toolserver.toolforge.org/pushforcommons.php' >Pushforcommons</a></b> <i>Might not work</i> [<a href='https://toolhub.wikimedia.org/tools/mm_pushforcommons'>ToolHub</a>]</li>
<li><b><a href='https://magnus-toolserver.toolforge.org/pushforcommons2.php' >Pushforcommons2</a></b> <i>Might not work</i> [<a href='https://toolhub.wikimedia.org/tools/mm_pushforcommons2'>ToolHub</a>]</li>
<li><b><a href='https://magnus-toolserver.toolforge.org/shadows_commons.php' >Shadows commons</a></b> <i>Might not work</i> [<a href='https://toolhub.wikimedia.org/tools/mm_shadows_commons'>ToolHub</a>]</li>
<li><b><a href='https://magnustools.toolforge.org/can_i_haz_files.html' >Can i haz files</a></b> Creates shell scripts to download and tar files form Commons [<a href='https://toolhub.wikimedia.org/tools/mm_can_i_haz_files'>ToolHub</a>]</li>
<li><b><a href='https://magnustools.toolforge.org/commonsapi.php' >Commonsapi</a></b> An experimental API to return author and media data from Commons as XML. [<a href='https://toolhub.wikimedia.org/tools/mm_commons_api'>ToolHub</a>]</li>
<li><b><a href='https://magnustools.toolforge.org/flickrfree.php' >Flickrfree</a></b> Shows free, recently uploaded images on Flickr, ready for transfer to Commons. [<a href='https://toolhub.wikimedia.org/tools/mm_flickrfree'>ToolHub</a>]</li>
<li><b><a href='https://magnustools.toolforge.org/flommons_include.pl' >Flommons include</a></b> Defunct demo <i>Defunct demo</i> [<a href='https://toolhub.wikimedia.org/tools/mm_flommons_include'>ToolHub</a>]</li>
<li><b><a href='https://magnustools.toolforge.org/flommons.pl' >Flommons</a></b> Flickr-like interface to Commons [<a href='https://toolhub.wikimedia.org/tools/mm_flommons'>ToolHub</a>]</li>
<li><b><a href='https://magnustools.toolforge.org/random_image_commons_subcat.php' >Random image commons subcat</a></b>  Loads a random image from a category tree on Commons [<a href='https://toolhub.wikimedia.org/tools/mm_random_image_commons_subcat'>ToolHub</a>]</li>
<li><b><a href='https://magnustools.toolforge.org/unused_files.php' >Unused files</a></b> A list of files not used on Wikipedia, from a Commons category tree. [<a href='https://toolhub.wikimedia.org/tools/mm_unused_files'>ToolHub</a>]</li>
<li><b><a href='https://magnustools.toolforge.org/wiki2playlist.php' >Wiki2playlist</a></b> Generates a .M3U playlist from files hosted on Commons. [<a href='https://toolhub.wikimedia.org/tools/mm_wiki2playlist'>ToolHub</a>]</li>
<li><b><a href='https://multidesc.toolforge.org' >Multidesc</a></b> Generates multilingual gallery and file descriptions (a merge of 'whatisthat' and 'commons_sumitup' from toolserver). [<a href='https://toolhub.wikimedia.org/tools/mm_multidesc'>ToolHub</a>]</li>
<li><b><a href='https://url2commons.toolforge.org' >Url2commons</a></b> Can transfer files from a list of URLs to Commons. [<a href='https://bitbucket.org/magnusmanske/url2commons' class='external'>code repo</a>] [<a href='https://toolhub.wikimedia.org/tools/mm_url2commons'>ToolHub</a>]</li>
<li><b><a href='https://wikidata-todo.toolforge.org/artwork_images.php' >Artwork images</a></b> Finds 10 random Commons Creators, items created by them without image, and Commons images created by them without Wikidata item. [<a href='https://toolhub.wikimedia.org/tools/mm_artwork_images'>ToolHub</a>]</li>
<li><b><a href='https://wikidata-todo.toolforge.org/commons2json.php' >Commons2json</a></b></li>
<li><b><a href='https://wikidata-todo.toolforge.org/creator_from_wikidata.php' >Creator from wikidata</a></b> Fills a Commons {{Creator}} template based on a Wikidata item. [<a href='https://toolhub.wikimedia.org/tools/mm_creator_from_wikidata'>ToolHub</a>]</li>
<li><b><a href='works fine but might benefit from improvements,https://wikidata-todo.toolforge.org/wd_commons.php' >Wd commons</a></b> Demonstrates multi-lingual search on Commons via Wikidata <i>Commons multilanguage search demo</i> [<a href='https://toolhub.wikimedia.org/tools/mm_wd_commons'>ToolHub</a>]</li>
<li><b><a href='https://commons.wikimedia.org/wiki/User:Magnus_Manske/sdc_tool.js'  class="external">Structured Data on Commons</a></b> <i>JavaScript on wiki</i> [<a href='https://toolhub.wikimedia.org/tools/mm_structureddataoncommons'>ToolHub</a>]</li>
<li><b><a href='https://commons.wikimedia.org/wiki/MediaWiki:Commander.js'  class="external">Commons Commander</a></b> JavaScript on Commons <i>JavaScript on wiki: Norton Commander-like interface for Commons</i> [<a href='https://toolhub.wikimedia.org/tools/mm_commonscommander'>ToolHub</a>]</li>
<li><b><a href='https://picturesque.toolforge.org/' >Picturesque</a></b> A tool to help Wikimedians to navigate the various picture/image-related tools, and work on their areas of interest, to add pictures to Commons, Wikipedia, and Wikidata [<a href='https://github.com/magnusmanske/picturesque' class='external'>code repo</a>] [<a href='https://toolhub.wikimedia.org/tools/toolforge-picturesque'>ToolHub</a>]</li>
<li><b><a href='https://fist.toolforge.org' >[Wrapper entry for fist]</a></b> [<a href='https://bitbucket.org/magnusmanske/fist' class='external'>code repo</a>]</li>
<li><b><a href='https://tools.wmflabs.org/catfood/commons_image_feed.php' >Commons image feed</a></b> RSS image feeds for Commons categories to use in screensavers etc. [<a href='https://toolhub.wikimedia.org/tools/mm_commons_image_feed'>ToolHub</a>]</li>
<li><b><a href='https://wikidata-todo.toolforge.org/images_in_categories_used_on_commons.php' >Images in categories used on commons</a></b> Shows how many files in a Commons category tree are used on Wikidata</li>
<li><b><a href='https://pauken.toolforge.org' >Pauken</a></b> uses Wikidata items as a basis, lexemes that link to these items, images and pronounciation audio from Commons</li>
<li><b><a href='https://wikidata-todo.toolforge.org/images_near_items.php' >Images near items</a></b> Finds Commons images near Wikidata items without image</li>
<li><b><a href='https://commons.wikimedia.org/wiki/MediaWiki:Gadget-Stockphoto.js'  class="external">Gadget-Stockphoto</a></b> Commons gadget <i>Heavily worked on by others</i></li>
</ul></div>


<div class="row"><h2 id='wikidata'>Wikidata</h2>
<ul>
<li><b><a href='https://autodesc.toolforge.org' >Autodesc</a></b> Wikidata automated description API <i>Under re-development</i> [<a href='https://bitbucket.org/magnusmanske/autodesc' class='external'>code repo</a>] [<a href='https://toolhub.wikimedia.org/tools/mm_autodesc'>ToolHub</a>]</li>
<li><b><a href='https://cradle.toolforge.org' >Cradle</a></b> Create new Wikidata items from templates [<a href='https://github.com/magnusmanske/cradle' class='external'>code repo</a>] [<a href='https://toolhub.wikimedia.org/tools/mm_cradle'>ToolHub</a>]</li>
<li><b><a href='https://fist.toolforge.org/WD-FIST' >WD-FIST</a></b> The Free Image Search Tool for Wikidata. Find items without image, but images in associated Wikipedia articles. [<a href='https://toolhub.wikimedia.org/tools/mm_wdfist'>ToolHub</a>]</li>
<li><b><a href='https://fist.toolforge.org/file_candidates' >File candidates</a></b> Suggested images for Wikidata items [<a href='https://toolhub.wikimedia.org/tools/mm_file_candidates'>ToolHub</a>]</li>
<li><b><a href='https://fist.toolforge.org/wd4wp' >WD4WP</a></b> Images used on Wikidata items but Wikipedia has no image [<a href='https://toolhub.wikimedia.org/tools/mm_wd4wp'>ToolHub</a>]</li>
<li><b><a href='https://magnus-toolserver.toolforge.org/generate_wikidata_book.pl' >Generate wikidata book</a></b> <i>Might not work</i> [<a href='https://toolhub.wikimedia.org/tools/mm_generate_wikidata_book'>ToolHub</a>]</li>
<li><b><a href='https://magnustools.toolforge.org/wdsearch.js' >Wdsearch</a></b></li>
<li><b><a href='https://magnustools.toolforge.org/wd_useful.js' >Wd useful</a></b></li>
<li><b><a href='https://mixnmatch.wmflabs.org/' >Mix-n-Match</a></b> GLAM catalog/Wikidata matching tool; red link lists on steroids. [<a href='https://bitbucket.org/magnusmanske/mixnmatch' class='external'>code repo</a>] [<a href='https://toolhub.wikimedia.org/tools/mm_mixnmatch'>ToolHub</a>]</li>
<li><b><a href='https://mix-n-match.toolforge.org/mobile_game.html' >Mobile game</a></b> Mix'n'match optimized for mobile [<a href='https://toolhub.wikimedia.org/tools/mm_mobilegame'>ToolHub</a>]</li>
<li><b><a href='https://not-in-the-other-language.toolforge.org' >Not-in-the-other-language</a></b> Finds Wikidata items with a Wikipedia page in language A but not in B. [<a href='https://bitbucket.org/magnusmanske/not-in-the-other-language' class='external'>code repo</a>] [<a href='https://toolhub.wikimedia.org/tools/mm_nitol'>ToolHub</a>]</li>
<li><b><a href='https://quickstatements.toolforge.org' >Quickstatements</a></b> Can add statements (with optional qualifiers and sources) to Wikidata items. [<a href='https://github.com/magnusmanske/quickstatements_rs' class='external'>code repo</a>] [<a href='https://toolhub.wikimedia.org/tools/mm_quick_statements'>ToolHub</a>]</li>
<li><b><a href='https://reasonator.toolforge.org' >Reasonator</a></b> Human-readable display of Wikidata. [<a href='https://bitbucket.org/magnusmanske/reasonator' class='external'>code repo</a>] [<a href='https://toolhub.wikimedia.org/tools/mm_reasonator'>ToolHub</a>]</li>
<li><b><a href='https://reasonator.toolforge.org/widee' >Widee</a></b> Experimental Wikidata editor [<a href='https://toolhub.wikimedia.org/tools/mm_widee'>ToolHub</a>]</li>
<li><b><a href='https://reasonator.toolforge.org/geneawiki' >Geneawiki</a></b> Interactive display of person relationships on Wikidata [<a href='https://toolhub.wikimedia.org/tools/mm_geneawiki'>ToolHub</a>]</li>
<li><b><a href='https://reasonator.toolforge.org/geneawiki2' >Geneawiki2</a></b></li>
<li><b><a href='https://reasonator.toolforge.org/geneawiki3' >Geneawiki3</a></b></li>
<li><b><a href='https://reasonator.toolforge.org/geneawiki4' >Geneawiki4</a></b></li>
<li><b><a href='https://reasonator.toolforge.org/geneawiki5' >Geneawiki5</a></b></li>
<li><b><a href='https://referee.toolforge.org' >Referee</a></b> <i>Back-end for the referee Wikidata JS tool</i> [<a href='https://bitbucket.org/magnusmanske/referee' class='external'>code repo</a>]</li>
<li><b><a href='https://sourcemd.toolforge.org' >Sourcemd</a></b> A tool to match and/or create Wikidata items for scientific publications and their authors. Partially deactivated due to rewrite. [<a href='https://bitbucket.org/magnusmanske/sourcemd' class='external'>code repo</a>] [<a href='https://toolhub.wikimedia.org/tools/mm_sourcemd'>ToolHub</a>] [<a href='https://www.wikidata.org/wiki/Q56035039' class='wikidata'>Wikidata item</a>]</li>
<li><b><a href='https://tabernacle.toolforge.org' >Tabernacle</a></b> Generates a table of Wikidata items and statements. Allows for quick addition of some types via WiDaR. <i>portable to other MW/WB installations</i> [<a href='https://bitbucket.org/magnusmanske/tabernacle' class='external'>code repo</a>] [<a href='https://toolhub.wikimedia.org/tools/mm_tabernacle'>ToolHub</a>]</li>
<li><b><a href='https://topicmatcher.toolforge.org' >Topicmatcher</a></b> Suggestions for main subject/named after/depicts statements [<a href='https://bitbucket.org/magnusmanske/topicmatcher' class='external'>code repo</a>] [<a href='https://toolhub.wikimedia.org/tools/mm_topicmatcher'>ToolHub</a>]</li>
<li><b><a href='https://wikidata-game.toolforge.org' >Wikidata-game</a></b> A set of games to quickly add statements to Wikidata. <i>TODO change classic&dist game to use cdn</i> [<a href='https://bitbucket.org/magnusmanske/wikidata-game' class='external'>code repo</a>] [<a href='https://toolhub.wikimedia.org/tools/mm_wikidata_game'>ToolHub</a>]</li>
<li><b><a href='https://wikidata-terminator.toolforge.org' >Wikidata-terminator</a></b> Shows identical terms (labels) with missing descriptions, popular items with missing labels etc. [<a href='https://bitbucket.org/magnusmanske/wikidata-terminator' class='external'>code repo</a>] [<a href='https://toolhub.wikimedia.org/tools/mm_terminator'>ToolHub</a>]</li>
<li><b><a href='https://wikidata-todo.toolforge.org/add_name_labels.php' >Add name labels</a></b></li>
<li><b><a href='https://wikidata-todo.toolforge.org/around.html' >Around</a></b> Show items with coordinates around a center from Wikidata. [<a href='https://toolhub.wikimedia.org/tools/mm_wikidata_locations'>ToolHub</a>]</li>
<li><b><a href='https://wikidata-todo.toolforge.org/artwork_images.php' >Artwork images</a></b> Finds 10 random Commons Creators, items created by them without image, and Commons images created by them without Wikidata item. [<a href='https://toolhub.wikimedia.org/tools/mm_artwork_images'>ToolHub</a>]</li>
<li><b><a href='https://wikidata-todo.toolforge.org/autolist2.php' >Autolist2</a></b> Shows a list of items based on a Wikidata Query, and allows mass-editing of statements on the results. [<a href='https://toolhub.wikimedia.org/tools/mm_autolist2'>ToolHub</a>]</li>
<li><b><a href='https://wikidata-todo.toolforge.org/awarder.php' >Awarder</a></b> Generates a list of awards for people from Wikipedia, and statements to add to Wikidata. [<a href='https://toolhub.wikimedia.org/tools/mm_awarder'>ToolHub</a>]</li>
<li><b><a href='https://wikidata-todo.toolforge.org/barcode2wikidata.html' >Barcode2wikidata</a></b> Enter or scan (on mobile) a barcode and find its item on Wikidata [<a href='https://toolhub.wikimedia.org/tools/mm_barcode2wikidata'>ToolHub</a>]</li>
<li><b><a href='https://wikidata-todo.toolforge.org/beacon.php' >Beacon</a></b> Shows lists of external identifiers (eg VIAF) matched to Wikidata items, or to other external IDs. [<a href='https://toolhub.wikimedia.org/tools/mm_beacon'>ToolHub</a>]</li>
<li><b><a href='https://wikidata-todo.toolforge.org/best_cats.php' >Best cats</a></b></li>
<li><b><a href='https://wikidata-todo.toolforge.org/bioacoustica.php' >Bioacoustica</a></b></li>
<li><b><a href='https://wikidata-todo.toolforge.org/canned_queries.html' >Canned queries</a></b></li>
<li><b><a href='https://wikidata-todo.toolforge.org/canned_queries.php' >Canned queries</a></b></li>
<li><b><a href='https://wikidata-todo.toolforge.org/cloudy_concept.php' >Cloudy concept</a></b> Shows language labels for Wikipedia links from a Wikidata item, and allows label editing. [<a href='https://toolhub.wikimedia.org/tools/mm_concept_cloud'>ToolHub</a>]</li>
<li><b><a href='https://wikidata-todo.toolforge.org/commons2json.php' >Commons2json</a></b></li>
<li><b><a href='https://wikidata-todo.toolforge.org/compare_lists.html' >Compare lists</a></b> Compare (diff) rows in two texts. Useful for QIDs etc. Not limited to WikiVerse. [<a href='https://toolhub.wikimedia.org/tools/mm_compare_lists'>ToolHub</a>]</li>
<li><b><a href='https://wikidata-todo.toolforge.org/coords2json.php' >Coords2json</a></b></li>
<li><b><a href='https://wikidata-todo.toolforge.org/country_stats.php' >Country stats</a></b></li>
<li><b><a href='https://wikidata-todo.toolforge.org/creator2.html' >Creator2</a></b></li>
<li><b><a href='https://wikidata-todo.toolforge.org/creator_from_wikidata.php' >Creator from wikidata</a></b> Fills a Commons {{Creator}} template based on a Wikidata item. [<a href='https://toolhub.wikimedia.org/tools/mm_creator_from_wikidata'>ToolHub</a>]</li>
<li><b><a href='https://wikidata-todo.toolforge.org/data.geojson' >Data</a></b> Demo data <i>Some demo data</i></li>
<li><b><a href='https://wikidata-todo.toolforge.org/description_api.php' >Description api</a></b> <i>???</i> [<a href='https://toolhub.wikimedia.org/tools/mm_description_api'>ToolHub</a>]</li>
<li><b><a href='https://wikidata-todo.toolforge.org/dupe_finder.php' >Dupe finder</a></b> Find duplicate items on Wikidata, via labels/aliases. <i>Seems to run but doesn't do anything</i> [<a href='https://toolhub.wikimedia.org/tools/mm_find_duplicate_items'>ToolHub</a>]</li>
<li><b><a href='https://wikidata-todo.toolforge.org/duplicity_game_api.php' >Duplicity game api</a></b> <i>an API for the Wikidata game</i> [<a href='https://toolhub.wikimedia.org/tools/mm_duplicity_game_api'>ToolHub</a>]</li>
<li><b><a href='https://wikidata-todo.toolforge.org/duplicity.php' >Duplicity</a></b> Find Wikipedia articles without associated Wikidata items, and match or create a new item. <i>OK</i> [<a href='https://toolhub.wikimedia.org/tools/mm_duplicity'>ToolHub</a>]</li>
<li><b><a href='https://wikidata-todo.toolforge.org/firstnamebasis.php' >Firstnamebasis</a></b> <i>Broken</i></li>
<li><b><a href='https://wikidata-todo.toolforge.org/gender.json' >Gender</a></b> <i>Some data for gendered bios</i> [<a href='https://toolhub.wikimedia.org/tools/mm_gender'>ToolHub</a>]</li>
<li><b><a href='https://wikidata-todo.toolforge.org/gender_map.html' >Gender map</a></b> <i>Map display for above data</i> [<a href='https://toolhub.wikimedia.org/tools/mm_gender_map'>ToolHub</a>]</li>
<li><b><a href='https://wikidata-todo.toolforge.org/get_item_names.php' >Get item names</a></b> Generates a list of Wikidata labels for a list of items, with language fallback <i>Generated labels for Wikidata items as HTML or JSON</i> [<a href='https://toolhub.wikimedia.org/tools/mm_get_item_names'>ToolHub</a>]</li>
<li><b><a href='https://wikidata-todo.toolforge.org/important_blank_items.php' >Important blank items</a></b> Wikidata items with no statements, sorted by number of language links (=importance?). Updated hourly. <i>Seems to work but no results</i> [<a href='https://toolhub.wikimedia.org/tools/mm_important_blank_items'>ToolHub</a>]</li>
<li><b><a href='https://wikidata-todo.toolforge.org/index.php' >Index</a></b> <i>Wikidata-to main page</i></li>
<li><b><a href='https://wikidata-todo.toolforge.org/label_no_instance.php' >Label no instance</a></b> Shows Wikidata items that have a label with a certain pattern, but no 'instance of' statement. <i>Seems to work but no results</i> [<a href='https://toolhub.wikimedia.org/tools/mm_label_no_instance'>ToolHub</a>]</li>
<li><b><a href='https://wikidata-todo.toolforge.org/last_changed_items.php' >Last changed items</a></b></li>
<li><b><a href='https://wikidata-todo.toolforge.org/linked_items.php' >Linked items</a></b> Generated a list of Wikidata items of pages linked from Wikitext. [<a href='https://toolhub.wikimedia.org/tools/mm_linked_items'>ToolHub</a>]</li>
<li><b><a href='https://wikidata-todo.toolforge.org/list2wd.html' >List2wd</a></b></li>
<li><b><a href='https://wikidata-todo.toolforge.org/merge_candidates_by_shared_identifier.php' >Merge candidates by shared identifier</a></b></li>
<li><b><a href='https://wikidata-todo.toolforge.org/missing_coordinates_all.txt' >Missing coordinates all</a></b></li>
<li><b><a href='https://wikidata-todo.toolforge.org/missing_images.html' >Missing images</a></b> Shows Wikidata items with coordinates but no images on a map. Heatmap or markers. [example: Cambridge] [<a href='https://toolhub.wikimedia.org/tools/mm_wd_missing_images'>ToolHub</a>]</li>
<li><b><a href='https://wikidata-todo.toolforge.org/missing_wp_animal_audio.php' >Missing wp animal audio</a></b> Lists articles about animals on a wiki that don't have audio, but Wikidata does [<a href='https://toolhub.wikimedia.org/tools/mm_missing_wp_animal_audio'>ToolHub</a>]</li>
<li><b><a href='https://wikidata-todo.toolforge.org/mobile_upload_demo.html' >Mobile upload demo</a></b></li>
<li><b><a href='https://wikidata-todo.toolforge.org/multibeacon.php' >Multibeacon</a></b> Get multiple items by property. [<a href='https://toolhub.wikimedia.org/tools/mm_multibeacon'>ToolHub</a>]</li>
<li><b><a href='https://wikidata-todo.toolforge.org/needleman.html' >Needleman</a></b></li>
<li><b><a href='https://wikidata-todo.toolforge.org/new_items.php' >New items</a></b> Get new Wikidata items (now or before timestamp) as HTML or PagePile. [<a href='https://toolhub.wikimedia.org/tools/mm_new_items'>ToolHub</a>]</li>
<li><b><a href='https://wikidata-todo.toolforge.org/no_statements.php' >No statements</a></b> Generates a pseudo-random list of Wikidata items that have no statements. [<a href='https://toolhub.wikimedia.org/tools/mm_no_statements'>ToolHub</a>]</li>
<li><b><a href='https://wikidata-todo.toolforge.org/odnb_redirect.php' >Odnb redirect</a></b></li>
<li><b><a href='https://wikidata-todo.toolforge.org/pagepile2kml.php' >Pagepile2kml</a></b> Generates KML from a PagePile list of Wikidata items or articles (via Wikidata). [<a href='https://toolhub.wikimedia.org/tools/mm_pagepile2kml'>ToolHub</a>]</li>
<li><b><a href='https://wikidata-todo.toolforge.org/papertrail.html' >Papertrail</a></b></li>
<li><b><a href='https://wikidata-todo.toolforge.org/pasleim_projectmerge_game_api.php' >Pasleim projectmerge game api</a></b></li>
<li><b><a href='https://wikidata-todo.toolforge.org/pasleim_projectmerge_game.log' >Pasleim projectmerge game</a></b></li>
<li><b><a href='https://wikidata-todo.toolforge.org/pasleim_projectmerge.json' >Pasleim projectmerge</a></b></li>
<li><b><a href='https://wikidata-todo.toolforge.org/personendaten.php' >Personendaten</a></b> Wikidata-based clone of https://persondata.toolforge.org/</li>
<li><b><a href='https://wikidata-todo.toolforge.org/project_stats.php' >Project stats</a></b> Shows number/% of items linked to a Wikipedia article, per language. [<a href='https://toolhub.wikimedia.org/tools/mm_project_link_stats'>ToolHub</a>]</li>
<li><b><a href='https://wikidata-todo.toolforge.org/property_string_matcher.php' >Property string matcher</a></b> Finds, for a given string-type property, all items with statement values in a given list. [<a href='https://toolhub.wikimedia.org/tools/mm_property_string_matcher'>ToolHub</a>]</li>
<li><b><a href='https://wikidata-todo.toolforge.org/quick_statements.php' >Quick statements old</a></b> Old version of QuickStatements <i>OK</i> [<a href='https://toolhub.wikimedia.org/tools/mm_quick_statements_old'>ToolHub</a>]</li>
<li><b><a href='https://wikidata-todo.toolforge.org/random_item_without_instance.php' >Random item without instance</a></b></li>
<li><b><a href='https://wikidata-todo.toolforge.org/rcvis.html' >Rcvis</a></b> Shows Wikidata Recent Changes, live and 'in pretty'. All edits or humans only. <i>OK</i> [<a href='https://toolhub.wikimedia.org/tools/mm_rcvis'>ToolHub</a>]</li>
<li><b><a href='https://wikidata-todo.toolforge.org/relabel.php' >Relabel</a></b></li>
<li><b><a href='https://wikidata-todo.toolforge.org/related_properties.php' >Related properties</a></b> This tool can analyze the results from a WikiData Query, and show the properties used in all items matching a query. [<a href='https://toolhub.wikimedia.org/tools/mm_related_properties'>ToolHub</a>]</li>
<li><b><a href='https://wikidata-todo.toolforge.org/relator' >Relator</a></b> Lets you browse and edit family relationships on Wikidata <i>Own dir</i> [<a href='https://toolhub.wikimedia.org/tools/mm_relator'>ToolHub</a>]</li>
<li><b><a href='https://wikidata-todo.toolforge.org/render_kml.html' >Render kml</a></b> <i>???</i> [<a href='https://toolhub.wikimedia.org/tools/mm_render_kml'>ToolHub</a>]</li>
<li><b><a href='https://wikidata-todo.toolforge.org/resolver.php' >Resolver</a></b> Forwards to a Wikidata item, given a unique property and (string) value combination. <i>OK</i> [<a href='https://toolhub.wikimedia.org/tools/mm_resolver'>ToolHub</a>]</li>
<li><b><a href='https://wikidata-todo.toolforge.org/sourcerer_game.php' >Sourcerer game</a></b> <i>OK</i> [<a href='https://toolhub.wikimedia.org/tools/mm_sourcerer_game'>ToolHub</a>]</li>
<li><b><a href='https://wikidata-todo.toolforge.org/sourcerer.html' >Sourcerer</a></b> <i>OK</i> [<a href='https://toolhub.wikimedia.org/tools/mm_sourcerer'>ToolHub</a>]</li>
<li><b><a href='https://wikidata-todo.toolforge.org/sourcery.html' >Sourcery</a></b> <i>OK</i> [<a href='https://toolhub.wikimedia.org/tools/mm_sourcery'>ToolHub</a>]</li>
<li><b><a href='https://wikidata-todo.toolforge.org/sparql_rc.php' >Sparql rc</a></b> Get diffs for all items matching a SPARQL query, for a date range <i>OK</i> [<a href='https://toolhub.wikimedia.org/tools/mm_sparql_rc'>ToolHub</a>]</li>
<li><b><a href='https://wikidata-todo.toolforge.org/specializer.html' >Specializer</a></b> <i>TODO rewrite with SPARQL instead of WDQ</i> [<a href='https://toolhub.wikimedia.org/tools/mm_specializer'>ToolHub</a>]</li>
<li><b><a href='https://wikidata-todo.toolforge.org/stats.php' >Stats</a></b> Shows statistics based on bi-weekly Wikidata snapshots. <i>OK</i> [<a href='https://toolhub.wikimedia.org/tools/mm_wikidata_stats'>ToolHub</a>]</li>
<li><b><a href='https://wikidata-todo.toolforge.org/subclass_dates.php' >Subclass dates</a></b> Generates statistics on dates by (bucket) on property subclasses, e.g. all artists except actors and singers. <i>OK</i> [<a href='https://toolhub.wikimedia.org/tools/mm_subclass_dates'>ToolHub</a>]</li>
<li><b><a href='https://wikidata-todo.toolforge.org/suggestor.php' >Suggestor</a></b> <i>???</i> [<a href='https://toolhub.wikimedia.org/tools/mm_suggestor'>ToolHub</a>]</li>
<li><b><a href='https://wikidata-todo.toolforge.org/tabernacle.html' >Tabernacle</a></b> Generates a table of Wikidata items and statements. Allows for quick addition of some types via WiDaR. <i>Superseded by Tabernacle</i></li>
<li><b><a href='https://wikidata-todo.toolforge.org/tempo_spatial_display.html' >Tempo spatial display</a></b> Shows Wikidata items linked via a property (eg 'part of') on both a timeline and a map. <i>OK</i> [<a href='https://toolhub.wikimedia.org/tools/mm_tempo_spatial_display'>ToolHub</a>]</li>
<li><b><a href='https://wikidata-todo.toolforge.org/tour.html' >Tour</a></b> <i>OK</i> [<a href='https://toolhub.wikimedia.org/tools/mm_tour'>ToolHub</a>]</li>
<li><b><a href='https://wikidata-todo.toolforge.org/translate_items_with_property.php' >Translate items with property</a></b> Lists all translations (labels) of Wikidata items with a specific property. Used by BEACON. <i>BROKEN</i> [<a href='https://toolhub.wikimedia.org/tools/mm_translate_items'>ToolHub</a>]</li>
<li><b><a href='https://wikidata-todo.toolforge.org/tree.html' >Tree</a></b> Generate lists and trees from Wikidata structures, such as subclasses, administrative divisions, and taxons. <i>OK</i> [<a href='https://toolhub.wikimedia.org/tools/mm_property_trees'>ToolHub</a>]</li>
<li><b><a href='https://wikidata-todo.toolforge.org/true_duplicates.php' >True duplicates</a></b> <i>Broken I think</i></li>
<li><b><a href='fix UI,https://wikidata-todo.toolforge.org/unlinked_taxa.html' >Unlinked taxa</a></b> <i>TODO regenerate data</i> [<a href='https://toolhub.wikimedia.org/tools/mm_unlinked_taxa'>ToolHub</a>]</li>
<li><b><a href='https://wikidata-todo.toolforge.org/unused_images_of_people.php' >Unused images of people</a></b> <i>TODO fix this</i> [<a href='https://toolhub.wikimedia.org/tools/mm_unused_images_of_people'>ToolHub</a>]</li>
<li><b><a href='https://wikidata-todo.toolforge.org/user_edits.php' >User edits</a></b> Shows edits for a user/bot on Wikidata, for a set of items, with a specific revision comment pattern <i>OK</i> [<a href='https://toolhub.wikimedia.org/tools/mm_user_edits'>ToolHub</a>]</li>
<li><b><a href='https://wikidata-todo.toolforge.org/viaf_game.php' >Viaf game</a></b> <i>Wikidata game API</i> [<a href='https://toolhub.wikimedia.org/tools/mm_viaf_game'>ToolHub</a>]</li>
<li><b><a href='works fine but might benefit from improvements,https://wikidata-todo.toolforge.org/wd_commons.php' >Wd commons</a></b> Demonstrates multi-lingual search on Commons via Wikidata <i>Commons multilanguage search demo</i> [<a href='https://toolhub.wikimedia.org/tools/mm_wd_commons'>ToolHub</a>]</li>
<li><b><a href='https://wikidata-todo.toolforge.org/wd_edit_stats.php' >Wd edit stats</a></b> Shows the editors on Wikidata items from a SPARQL query <i>OK</i> [<a href='https://toolhub.wikimedia.org/tools/mm_wd_edit_stats'>ToolHub</a>]</li>
<li><b><a href='https://wikidata-todo.toolforge.org/wdq_image_feed.php' >Wdq image feed</a></b> Generate an image RSS feed (for your screensaver?) from a WDQ query. <i>TODO remove WDQ</i> [<a href='https://toolhub.wikimedia.org/tools/mm_wdq_image_feed'>ToolHub</a>]</li>
<li><b><a href='https://wikidata-todo.toolforge.org/wdvenn.html' >Wdvenn</a></b> Generates unique- and subsets of Wikidata item lists. Does not draw actual diagram yet. <i>Venn diagram generator</i> [<a href='https://toolhub.wikimedia.org/tools/mm_wdvenn'>ToolHub</a>]</li>
<li><b><a href='https://wikidata-todo.toolforge.org/whereami.html' >Whereami</a></b> <i>Tries to guess the Wikidata item of the admin unit you are in</i> [<a href='https://toolhub.wikimedia.org/tools/mm_whereami'>ToolHub</a>]</li>
<li><b><a href='https://wikidata-todo.toolforge.org/wikidatalib.html' >Wikidatalib</a></b> <i>OK</i> [<a href='https://toolhub.wikimedia.org/tools/mm_wikidatalib'>ToolHub</a>]</li>
<li><b><a href='https://wikidata-todo.toolforge.org/wiki_los.html' >Wiki los</a></b> <i>Broken</i></li>
<li><b><a href='https://wikidata-todo.toolforge.org/wrong_nationality.html' >Wrong nationality</a></b> <i>Broken</i></li>
<li><b><a href='https://wikishootme.toolforge.org/WikiShootMe!' >WikiShootMe!</a></b> Shows Wikidata items in your area that do not have an image [<a href='https://bitbucket.org/magnusmanske/wikishootme' class='external'>code repo</a>] [<a href='https://toolhub.wikimedia.org/tools/mm_wikishootme'>ToolHub</a>] [<a href='https://www.wikidata.org/wiki/Q26964791' class='wikidata'>Wikidata item</a>]</li>
<li><b><a href='https://wikishootme.toolforge.org/picturethis/' >PictureThis!</a></b> Check if an object on Wikidata has an image, and take one if it does not. [<a href='https://toolhub.wikimedia.org/tools/mm_picturethis'>ToolHub</a>]</li>
<li><b><a href='https://www.wikidata.org/wiki/User:Magnus_Manske/wikidata_useful.js'  class="wikidata">Wikidata Useful</a></b> JavaScript with many useful one-click functions for Wikidata. <i>JavaScript on wiki</i> [<a href='https://toolhub.wikimedia.org/tools/mm_wikidata_useful'>ToolHub</a>]</li>
<li><b><a href='https://www.wikidata.org/wiki/User:Magnus_Manske/authority_control.js'  class="wikidata">Authority control</a></b> JavaScript for authority control data lookup on Wikidata. <i>JavaScript on wiki</i> [<a href='https://toolhub.wikimedia.org/tools/mm_authority_control'>ToolHub</a>]</li>
<li><b><a href='https://www.wikidata.org/wiki/User:Magnus_Manske/missing_props.js'  class="wikidata">Missing props</a></b> JavaScript suggesting properties used in similar items. <i>JavaScript on wiki</i> [<a href='https://toolhub.wikimedia.org/tools/mm_missing_props'>ToolHub</a>]</li>
<li><b><a href='what other items with images are there?,https://commons.wikimedia.org/wiki/User:Magnus_Manske/whatelse.js'  class="external">What else?</a></b> <i>JavaScript on wiki: For Wikidata items (somehow) related to this image</i> [<a href='https://toolhub.wikimedia.org/tools/mm_whatelse_'>ToolHub</a>]</li>
<li><b><a href='https://www.wikidata.org/wiki/User:Magnus_Manske/wd_edit.js'  class="wikidata">Listeria WD edit</a></b> Generates lists on Wikipedias, based on Wikidata queries. Daily updates. <i>JavaScript on wiki: Helper code for Listeria</i> [<a href='https://toolhub.wikimedia.org/tools/mm_listeriawdedit'>ToolHub</a>]</li>
<li><b><a href='https://picturesque.toolforge.org/' >Picturesque</a></b> A tool to help Wikimedians to navigate the various picture/image-related tools, and work on their areas of interest, to add pictures to Commons, Wikipedia, and Wikidata [<a href='https://github.com/magnusmanske/picturesque' class='external'>code repo</a>] [<a href='https://toolhub.wikimedia.org/tools/toolforge-picturesque'>ToolHub</a>]</li>
<li><b>Listeriabot</b> Generates lists on Wikipedias, based on Wikidata queries. Daily updates. [<a href='https://bitbucket.org/magnusmanske/listeria' class='external'>code repo</a>] [<a href='https://toolhub.wikimedia.org/tools/mm_listeria'>ToolHub</a>] [<a href='https://www.wikidata.org/wiki/Q24045615' class='wikidata'>Wikidata item</a>]</li>
<li><b>Wikidata cpp</b> <i>code only</i> [<a href='https://github.com/magnusmanske/wikidata_cpp' class='external'>code repo</a>] <i>NOTE: No webservice</i></li>
<li><b><a href='https://wikidata-todo.toolforge.org' >Wikidata-todo</a></b> Shows you little things you can do on Wikidata. [<a href='https://bitbucket.org/magnusmanske/wikidata-todo' class='external'>code repo</a>] [<a href='https://toolhub.wikimedia.org/tools/mm_wikidata_todo'>ToolHub</a>]</li>
<li><b><a href='https://wikidata-game.toolforge.org/distributed' >Distributed game</a></b> The Distributed Wikidata Game, you can add your own! [<a href='https://toolhub.wikimedia.org/tools/mm_distributedgame'>ToolHub</a>]</li>
<li><b><a href='https://cersei.toolforge.org' >Cersei</a></b> Central External Resources Scraping and Evaluation Infrastructure

A tool to scrape external websites and present the information in a structured way. [<a href='https://toolhub.wikimedia.org/tools/toolforge-cersei'>ToolHub</a>]</li>
<li><b><a href='https://wlmuk.toolforge.org/index_wd.html' >Wlm-wikidata</a></b> Wiki Loves Monuments Wikidata-based interface [<a href='https://toolhub.wikimedia.org/tools/wlm-wikidata'>ToolHub</a>]</li>
<li><b><a href='https://wdrc.toolforge.org/' >Wdrc</a></b> Wikidata Recent Changes</li>
<li><b><a href='https://wikidata-todo.toolforge.org/gnd.php' >Gnd</a></b> Imports statements and references from GND MARC</li>
<li><b><a href='https://www.wikidata.org/wiki/User:Magnus_Manske/gnd_reveal.js'  class="wikidata">Gnd reveal</a></b> JavaScript on Wikidata, interface for gnd.wikidata-todo API</li>
<li><b><a href='https://quest.toolforge.org' >Quest</a></b> Quickstatements User Evaluation of Statements and Terms</li>
<li><b><a href='https://www.wikidata.org/wiki/User:Magnus_Manske/wdutil.js'  class="wikidata">Wdutil</a></b> JavaScript library for my Wikidata gadgets, not for direct use <i>JavaScript on wiki</i></li>
<li><b><a href='https://www.wikidata.org/wiki/User:Magnus_Manske/wdfist.js'  class="wikidata">Wdfist</a></b> Gadget for using WDFIST on WIkidata <i>JavaScript on wiki</i></li>
<li><b><a href='https://www.wikidata.org/wiki/User:Magnus_Manske/smiles_gadget.js'  class="wikidata">Smiles gadget</a></b> Gadget for showing SMILES rendering on WIkidata <i>JavaScript on wiki</i></li>
<li><b><a href='https://www.wikidata.org/wiki/User:Magnus_Manske/mixnmatch_gadget.js'  class="wikidata">Mixnmatch gadget</a></b> Gadget for using Mix'n'Match on Wikidata <i>JavaScript on wiki</i></li>
<li><b><a href='https://wikidata-todo.toolforge.org/images_in_categories_used_on_commons.php' >Images in categories used on commons</a></b> Shows how many files in a Commons category tree are used on Wikidata</li>
<li><b><a href='https://pauken.toolforge.org' >Pauken</a></b> uses Wikidata items as a basis, lexemes that link to these items, images and pronounciation audio from Commons</li>
<li><b><a href='https://wikidata-todo.toolforge.org/images_near_items.php' >Images near items</a></b> Finds Commons images near Wikidata items without image</li>
<li><b><a href='https://www.wikidata.org/wiki/User:Magnus_Manske/annas_archive.js'  class="wikidata">Annas archive</a></b> Links papers an books to Anna's Archive <i>JavaScript on wiki</i></li>
<li><b><a href='https://www.wikidata.org/wiki/User:Magnus_Manske/author_sort.js'  class="wikidata">Author sort</a></b> Sorts authors on Wikidata by their serial ordial <i>JavaScript on wiki</i></li>
<li><b><a href='https://wd-infernal.toolforge.org/' >Wd-infernal</a></b> An API to infer Wikidata statements from names, locations etc. <i>Rust</i> [<a href='https://github.com/magnusmanske/wd-infernal' class='external'>code repo</a>] [<a href='https://toolhub.wikimedia.org/tools/toolforge-wd-infernal'>ToolHub</a>]</li>
<li><b><a href='https://ac2wd.toolforge.org/' >Ac2wd</a></b> An API to generate statements and references for Wikidata from Authority Control sources [<a href='https://github.com/magnusmanske/auth2wd' class='external'>code repo</a>] [<a href='https://toolhub.wikimedia.org/tools/toolforge-ac2wd'>ToolHub</a>]</li>
</ul></div>


<div class="row"><h2 id='wikisource'>Wikisource</h2>
<ul>
<li><b><a href='https://book2scroll.toolforge.org' >Book2scroll</a></b> A book reader for Wikisource. [<a href='https://bitbucket.org/magnusmanske/book2scroll' class='external'>code repo</a>] [<a href='https://toolhub.wikimedia.org/tools/mm_book2scroll'>ToolHub</a>]</li>
<li><b><a href='https://dnbtools.toolforge.org/dnb_link_finder' >Dnb link finder</a></b> Finds links to Google books DNB that would better point to Wikisource. [<a href='https://toolhub.wikimedia.org/tools/mm_dnb_link_finder'>ToolHub</a>]</li>
<li><b><a href='https://dnbtools.toolforge.org/dnb_ratios.php' >Dnb ratios</a></b> Gives page length ratios between Wikisource and Wikipedia articles. [<a href='https://toolhub.wikimedia.org/tools/mm_dnb_ratios'>ToolHub</a>]</li>
<li><b><a href='https://dnbtools.toolforge.org/dnb_wikisource.php' >Dnb wikisource</a></b> Looks for inconsistencies in the wikisource link structures of the DNB. [<a href='https://toolhub.wikimedia.org/tools/mm_wikisource_dnb'>ToolHub</a>]</li>
<li><b><a href='https://dnbtools.toolforge.org/map2wp.php' >Map2wp</a></b> Attempts to map DNB articles on wikisource to wikipedia. [<a href='https://toolhub.wikimedia.org/tools/mm_map2wp'>ToolHub</a>]</li>
</ul></div>


<div class="row"><h2 id='education'>Education</h2>
<ul>
<li><b><a href='https://magnustools.toolforge.org/wikisoba.html' >Wikisoba</a></b> A demo for a quiz system, can utilize Wikipedia pages as page source [<a href='https://toolhub.wikimedia.org/tools/mm_wikisoba'>ToolHub</a>]</li>
<li><b><a href='https://pauken.toolforge.org' >Pauken</a></b> uses Wikidata items as a basis, lexemes that link to these items, images and pronounciation audio from Commons</li>
</ul></div>


<div class="row"><h2 id='maintained_from_other_users'>Maintained from other users</h2>
<ul>
<li><b><a href='https://erwin85.toolforge.org' >Erwin85</a></b> Several tools originally by erwin85, maintained here [<a href='https://toolhub.wikimedia.org/tools/mm_erwin85'>ToolHub</a>]</li>
<li><b><a href='https://joanjoc.toolforge.org/artniw.php' >Artniw</a></b> Articles without interwikis, by Joanjoc <i>Maintaining from other user</i> [<a href='https://toolhub.wikimedia.org/tools/mm_artniw'>ToolHub</a>]</li>
<li><b><a href='https://joanjoc.toolforge.org/index.php' >Index</a></b> Joanjoc tools <i>Maintaining from other user</i></li>
<li><b><a href='https://joanjoc.toolforge.org/indicadors.php' >Indicadors</a></b> <i>Maintaining from other user</i> [<a href='https://toolhub.wikimedia.org/tools/mm_indicadors'>ToolHub</a>]</li>
<li><b><a href='https://joanjoc.toolforge.org/sugart.php' >Sugart</a></b> Suggest articles from interwikis <i>Maintaining from other user</i> [<a href='https://toolhub.wikimedia.org/tools/mm_sugart'>ToolHub</a>]</li>
<li><b><a href='https://joanjoc.toolforge.org/' >[Wrapper entry for joanjoc]</a></b> Something with language links. <i>Maintaining from other user</i> [<a href='https://toolhub.wikimedia.org/tools/mm_joanjoc'>ToolHub</a>]</li>
</ul></div>


<div class="row"><h2 id='images'>Images</h2>
<ul>
<li><b><a href='https://file-siblings.toolforge.org' >File-siblings</a></b> Builds, for a file, an HTML fragment with thumbnails of related images. [<a href='https://toolhub.wikimedia.org/tools/mm_file_siblings'>ToolHub</a>]</li>
<li><b><a href='https://filedupes.toolforge.org' >Filedupes</a></b> For finding image duplicates. A merge of 'userdupes' and 'commons_dupes' from toolserver. <i>PHP ERROR FIXME</i> [<a href='https://toolhub.wikimedia.org/tools/mm_file_dupes'>ToolHub</a>]</li>
<li><b><a href='https://fist.toolforge.org' >FIST</a></b> The Free Image Search Tool. [<a href='https://toolhub.wikimedia.org/tools/mm_fist'>ToolHub</a>]</li>
<li><b><a href='https://fist.toolforge.org/WD-FIST' >WD-FIST</a></b> The Free Image Search Tool for Wikidata. Find items without image, but images in associated Wikipedia articles. [<a href='https://toolhub.wikimedia.org/tools/mm_wdfist'>ToolHub</a>]</li>
<li><b><a href='https://fist.toolforge.org/file_candidates' >File candidates</a></b> Suggested images for Wikidata items [<a href='https://toolhub.wikimedia.org/tools/mm_file_candidates'>ToolHub</a>]</li>
<li><b><a href='https://fist.toolforge.org/wd4wp' >WD4WP</a></b> Images used on Wikidata items but Wikipedia has no image [<a href='https://toolhub.wikimedia.org/tools/mm_wd4wp'>ToolHub</a>]</li>
<li><b><a href='https://glamtools.toolforge.org/baglama1' >Baglama1</a></b> Monthly view counts for pages containing images from selected Commons categories. Superceded by BaGLAMa2. [<a href='https://toolhub.wikimedia.org/tools/mm_baglama'>ToolHub</a>]</li>
<li><b><a href='https://glamtools.toolforge.org/baglama2' >Baglama2</a></b> Monthly view counts for pages containing images from selected Commons categories. [<a href='https://toolhub.wikimedia.org/tools/mm_baglama2'>ToolHub</a>]</li>
<li><b><a href='https://glamtools.toolforge.org/glamorous1' >Glamorous1</a></b> A tool to keep track of Commons images used on other projects. [<a href='https://toolhub.wikimedia.org/tools/mm_glamorous'>ToolHub</a>]</li>
<li><b><a href='https://glamtools.toolforge.org/glamorous2' >Glamorous2</a></b> A tool to keep track usage and views of Commons images on other projects. [<a href='https://toolhub.wikimedia.org/tools/mm_glamorous2'>ToolHub</a>]</li>
<li><b><a href='https://magnus-toolserver.toolforge.org/catlitter.php' >Catlitter</a></b> A tool to mass-add categories and templates to images. Images in "Category:Media needing categories" are grouped by user, as users tend to upload similar files. <i>Might not work</i> [<a href='https://toolhub.wikimedia.org/tools/mm_catlitter'>ToolHub</a>]</li>
<li><b><a href='https://magnus-toolserver.toolforge.org/class_imagedata.php' >Class imagedata</a></b> <i>Might not work</i> [<a href='https://toolhub.wikimedia.org/tools/mm_class_imagedata'>ToolHub</a>]</li>
<li><b><a href='https://magnus-toolserver.toolforge.org/image_pages_without_image.php' >Image pages without image</a></b> <i>Might not work</i> [<a href='https://toolhub.wikimedia.org/tools/mm_image_pages_without_image'>ToolHub</a>]</li>
<li><b><a href='https://magnus-toolserver.toolforge.org/image_paranoia.php' >Image paranoia</a></b> <i>Might not work</i> [<a href='https://toolhub.wikimedia.org/tools/mm_image_paranoia'>ToolHub</a>]</li>
<li><b><a href='https://magnus-toolserver.toolforge.org/listimagesurls.php' >Listimagesurls</a></b> <i>Might not work</i> [<a href='https://toolhub.wikimedia.org/tools/mm_listimagesurls'>ToolHub</a>]</li>
<li><b><a href='https://magnus-toolserver.toolforge.org/missing_images.php' >Missing images</a></b> <i>Might not work</i> [<a href='https://toolhub.wikimedia.org/tools/mm_missing_images'>ToolHub</a>]</li>
<li><b><a href='https://magnustools.toolforge.org/file_reuse' >File reuse</a></b> Allows you to drag'n'drop a file onto it, and show a thumbnail and attribution. [<a href='https://toolhub.wikimedia.org/tools/mm_file_reuse'>ToolHub</a>]</li>
<li><b><a href='https://magnustools.toolforge.org/flickrfree.php' >Flickrfree</a></b> Shows free, recently uploaded images on Flickr, ready for transfer to Commons. [<a href='https://toolhub.wikimedia.org/tools/mm_flickrfree'>ToolHub</a>]</li>
<li><b><a href='https://magnustools.toolforge.org/flommons_include.pl' >Flommons include</a></b> Defunct demo <i>Defunct demo</i> [<a href='https://toolhub.wikimedia.org/tools/mm_flommons_include'>ToolHub</a>]</li>
<li><b><a href='https://magnustools.toolforge.org/flommons.pl' >Flommons</a></b> Flickr-like interface to Commons [<a href='https://toolhub.wikimedia.org/tools/mm_flommons'>ToolHub</a>]</li>
<li><b><a href='https://magnustools.toolforge.org/random_image_commons_subcat.php' >Random image commons subcat</a></b>  Loads a random image from a category tree on Commons [<a href='https://toolhub.wikimedia.org/tools/mm_random_image_commons_subcat'>ToolHub</a>]</li>
<li><b><a href='https://magnustools.toolforge.org/wp_data_url.php' >Wp data url</a></b> Demo for images as data URLs in Wikipedia, with or without WEBP. [<a href='https://toolhub.wikimedia.org/tools/mm_data_url'>ToolHub</a>]</li>
<li><b><a href='https://usualsuspects.toolforge.org' >Usualsuspects</a></b> File management tool, merged 'Bad Boys' and 'Bad Old Ones' from toolserver. [<a href='https://toolhub.wikimedia.org/tools/mm_usual_suspects'>ToolHub</a>]</li>
<li><b><a href='https://wikidata-todo.toolforge.org/artwork_images.php' >Artwork images</a></b> Finds 10 random Commons Creators, items created by them without image, and Commons images created by them without Wikidata item. [<a href='https://toolhub.wikimedia.org/tools/mm_artwork_images'>ToolHub</a>]</li>
<li><b><a href='https://wikidata-todo.toolforge.org/missing_images.html' >Missing images</a></b> Shows Wikidata items with coordinates but no images on a map. Heatmap or markers. [example: Cambridge] [<a href='https://toolhub.wikimedia.org/tools/mm_wd_missing_images'>ToolHub</a>]</li>
<li><b><a href='https://wikidata-todo.toolforge.org/unused_images_of_people.php' >Unused images of people</a></b> <i>TODO fix this</i> [<a href='https://toolhub.wikimedia.org/tools/mm_unused_images_of_people'>ToolHub</a>]</li>
<li><b><a href='https://wikidata-todo.toolforge.org/wdq_image_feed.php' >Wdq image feed</a></b> Generate an image RSS feed (for your screensaver?) from a WDQ query. <i>TODO remove WDQ</i> [<a href='https://toolhub.wikimedia.org/tools/mm_wdq_image_feed'>ToolHub</a>]</li>
<li><b><a href='https://wikishootme.toolforge.org/WikiShootMe!' >WikiShootMe!</a></b> Shows Wikidata items in your area that do not have an image [<a href='https://bitbucket.org/magnusmanske/wikishootme' class='external'>code repo</a>] [<a href='https://toolhub.wikimedia.org/tools/mm_wikishootme'>ToolHub</a>] [<a href='https://www.wikidata.org/wiki/Q26964791' class='wikidata'>Wikidata item</a>]</li>
<li><b><a href='https://wikishootme.toolforge.org/picturethis/' >PictureThis!</a></b> Check if an object on Wikidata has an image, and take one if it does not. [<a href='https://toolhub.wikimedia.org/tools/mm_picturethis'>ToolHub</a>]</li>
<li><b><a href='https://picturesque.toolforge.org/' >Picturesque</a></b> A tool to help Wikimedians to navigate the various picture/image-related tools, and work on their areas of interest, to add pictures to Commons, Wikipedia, and Wikidata [<a href='https://github.com/magnusmanske/picturesque' class='external'>code repo</a>] [<a href='https://toolhub.wikimedia.org/tools/toolforge-picturesque'>ToolHub</a>]</li>
<li><b><a href='https://fist.toolforge.org' >[Wrapper entry for fist]</a></b> [<a href='https://bitbucket.org/magnusmanske/fist' class='external'>code repo</a>]</li>
<li><b><a href='https://tools.wmflabs.org/catfood/commons_image_feed.php' >Commons image feed</a></b> RSS image feeds for Commons categories to use in screensavers etc. [<a href='https://toolhub.wikimedia.org/tools/mm_commons_image_feed'>ToolHub</a>]</li>
<li><b><a href='https://wikidata-todo.toolforge.org/images_in_categories_used_on_commons.php' >Images in categories used on commons</a></b> Shows how many files in a Commons category tree are used on Wikidata</li>
<li><b><a href='https://pauken.toolforge.org' >Pauken</a></b> uses Wikidata items as a basis, lexemes that link to these items, images and pronounciation audio from Commons</li>
<li><b><a href='https://wikidata-todo.toolforge.org/images_near_items.php' >Images near items</a></b> Finds Commons images near Wikidata items without image</li>
</ul></div>


<div class="row"><h2 id='location'>Location</h2>
<ul>
<li><b><a href='https://fist.toolforge.org/WD-FIST' >WD-FIST</a></b> The Free Image Search Tool for Wikidata. Find items without image, but images in associated Wikipedia articles. [<a href='https://toolhub.wikimedia.org/tools/mm_wdfist'>ToolHub</a>]</li>
<li><b><a href='https://geohack.toolforge.org' >Geohack</a></b> Meta-map tool. Used on Wikipedia. [example: Berlin] [<a href='https://bitbucket.org/magnusmanske/geohack' class='external'>code repo</a>] [<a href='https://toolhub.wikimedia.org/tools/mm_geohack'>ToolHub</a>]</li>
<li><b><a href='https://magnus-toolserver.toolforge.org/coord_gen.php' >Coord gen</a></b> <i>Might not work</i> [<a href='https://toolhub.wikimedia.org/tools/mm_coord_gen'>ToolHub</a>]</li>
<li><b><a href='https://magnus-toolserver.toolforge.org/kmlhook.php' >Kmlhook</a></b> <i>Might not work</i> [<a href='https://toolhub.wikimedia.org/tools/mm_kmlhook'>ToolHub</a>]</li>
<li><b><a href='https://magnus-toolserver.toolforge.org/related_places.php' >Related places</a></b> Generates KML for all places related to (linked from) an article <i>Might not work</i> [<a href='https://toolhub.wikimedia.org/tools/mm_related_places'>ToolHub</a>]</li>
<li><b><a href='https://projector.toolforge.org' >Projector</a></b> WikProject-based map and query tool <i>Queries MnM</i> [<a href='https://bitbucket.org/magnusmanske/projector' class='external'>code repo</a>] [<a href='https://toolhub.wikimedia.org/tools/mm_projector'>ToolHub</a>] [<a href='https://www.wikidata.org/wiki/Q106915345' class='wikidata'>Wikidata item</a>]</li>
<li><b><a href='https://wikidata-todo.toolforge.org/around.html' >Around</a></b> Show items with coordinates around a center from Wikidata. [<a href='https://toolhub.wikimedia.org/tools/mm_wikidata_locations'>ToolHub</a>]</li>
<li><b><a href='https://wikidata-todo.toolforge.org/coords2json.php' >Coords2json</a></b></li>
<li><b><a href='https://wikidata-todo.toolforge.org/gender_map.html' >Gender map</a></b> <i>Map display for above data</i> [<a href='https://toolhub.wikimedia.org/tools/mm_gender_map'>ToolHub</a>]</li>
<li><b><a href='https://wikidata-todo.toolforge.org/missing_coordinates_all.txt' >Missing coordinates all</a></b></li>
<li><b><a href='https://wikidata-todo.toolforge.org/missing_images.html' >Missing images</a></b> Shows Wikidata items with coordinates but no images on a map. Heatmap or markers. [example: Cambridge] [<a href='https://toolhub.wikimedia.org/tools/mm_wd_missing_images'>ToolHub</a>]</li>
<li><b><a href='https://wikidata-todo.toolforge.org/pagepile2kml.php' >Pagepile2kml</a></b> Generates KML from a PagePile list of Wikidata items or articles (via Wikidata). [<a href='https://toolhub.wikimedia.org/tools/mm_pagepile2kml'>ToolHub</a>]</li>
<li><b><a href='https://wikidata-todo.toolforge.org/render_kml.html' >Render kml</a></b> <i>???</i> [<a href='https://toolhub.wikimedia.org/tools/mm_render_kml'>ToolHub</a>]</li>
<li><b><a href='https://wikidata-todo.toolforge.org/tempo_spatial_display.html' >Tempo spatial display</a></b> Shows Wikidata items linked via a property (eg 'part of') on both a timeline and a map. <i>OK</i> [<a href='https://toolhub.wikimedia.org/tools/mm_tempo_spatial_display'>ToolHub</a>]</li>
<li><b><a href='https://wikishootme.toolforge.org/WikiShootMe!' >WikiShootMe!</a></b> Shows Wikidata items in your area that do not have an image [<a href='https://bitbucket.org/magnusmanske/wikishootme' class='external'>code repo</a>] [<a href='https://toolhub.wikimedia.org/tools/mm_wikishootme'>ToolHub</a>] [<a href='https://www.wikidata.org/wiki/Q26964791' class='wikidata'>Wikidata item</a>]</li>
<li><b><a href='https://wikishootme.toolforge.org/picturethis/' >PictureThis!</a></b> Check if an object on Wikidata has an image, and take one if it does not. [<a href='https://toolhub.wikimedia.org/tools/mm_picturethis'>ToolHub</a>]</li>
</ul></div>


<div class="row"><h2 id='glam'>GLAM</h2>
<ul>
<li><b><a href='https://glamtools.toolforge.org/baglama1' >Baglama1</a></b> Monthly view counts for pages containing images from selected Commons categories. Superceded by BaGLAMa2. [<a href='https://toolhub.wikimedia.org/tools/mm_baglama'>ToolHub</a>]</li>
<li><b><a href='https://glamtools.toolforge.org/baglama2' >Baglama2</a></b> Monthly view counts for pages containing images from selected Commons categories. [<a href='https://toolhub.wikimedia.org/tools/mm_baglama2'>ToolHub</a>]</li>
<li><b><a href='https://glamtools.toolforge.org/glamorous1' >Glamorous1</a></b> A tool to keep track of Commons images used on other projects. [<a href='https://toolhub.wikimedia.org/tools/mm_glamorous'>ToolHub</a>]</li>
<li><b><a href='https://glamtools.toolforge.org/glamorous2' >Glamorous2</a></b> A tool to keep track usage and views of Commons images on other projects. [<a href='https://toolhub.wikimedia.org/tools/mm_glamorous2'>ToolHub</a>]</li>
<li><b><a href='https://glamtools.toolforge.org/treeviews' >Treeviews</a></b> Monthly view statistics for category trees. [<a href='https://toolhub.wikimedia.org/tools/mm_treeviews'>ToolHub</a>]</li>
<li><b><a href='https://glamtools.toolforge.org/glamorgan' >Glamorgan</a></b> GLAM tool [<a href='https://toolhub.wikimedia.org/tools/mm_glamorgan'>ToolHub</a>]</li>
<li><b><a href='https://magnus-toolserver.toolforge.org/amalglamate.php' >Amalglamate</a></b> <i>Might not work</i> [<a href='https://toolhub.wikimedia.org/tools/mm_amalglamate'>ToolHub</a>]</li>
<li><b><a href='https://magnus-toolserver.toolforge.org/treeviews.php' >Treeviews</a></b> <i>Might not work</i></li>
<li><b><a href='https://mixnmatch.wmflabs.org/' >Mix-n-Match</a></b> GLAM catalog/Wikidata matching tool; red link lists on steroids. [<a href='https://bitbucket.org/magnusmanske/mixnmatch' class='external'>code repo</a>] [<a href='https://toolhub.wikimedia.org/tools/mm_mixnmatch'>ToolHub</a>]</li>
<li><b><a href='https://pagepile.toolforge.org' >Pagepile</a></b> A tool to generate and manage lists of pages, and to use them across many other tools. [<a href='https://bitbucket.org/magnusmanske/pagepile' class='external'>code repo</a>] [<a href='https://toolhub.wikimedia.org/tools/mm_pagepile'>ToolHub</a>]</li>
<li><b><a href='https://wikidata-todo.toolforge.org/new_items.php' >New items</a></b> Get new Wikidata items (now or before timestamp) as HTML or PagePile. [<a href='https://toolhub.wikimedia.org/tools/mm_new_items'>ToolHub</a>]</li>
<li><b><a href='https://wikidata-todo.toolforge.org/pagepile2kml.php' >Pagepile2kml</a></b> Generates KML from a PagePile list of Wikidata items or articles (via Wikidata). [<a href='https://toolhub.wikimedia.org/tools/mm_pagepile2kml'>ToolHub</a>]</li>
<li><b><a href='https://glamtools.toolforge.org' >[Wrapper entry for glamtools]</a></b> [<a href='https://bitbucket.org/magnusmanske/glamtools' class='external'>code repo</a>]</li>
</ul></div>


<div class="row"><h2 id='across_projects'>Across projects</h2>
<ul>
<li><b><a href='https://gulp.toolforge.org' >Gulp</a></b> Grand Unified List Processor [<a href='https://github.com/magnusmanske/gulp_php' class='external'>code repo</a>]</li>
<li><b><a href='https://listeria.toolforge.org/botstatus' >Botstatus</a></b> Status of the Listeria bot [<a href='https://toolhub.wikimedia.org/tools/mm_botstatus'>ToolHub</a>]</li>
<li><b><a href='https://listeria.toolforge.org/dynamic' >Dynamic</a></b> Dynamic Listeria pages [<a href='https://toolhub.wikimedia.org/tools/mm_dynamic'>ToolHub</a>]</li>
<li><b><a href='https://petscan.wmflabs.org/' >PetScan</a></b> Replacement for CatScan2, QuickIntersection, Creator, Autolist etc. [<a href='https://github.com/magnusmanske/petscan_rs' class='external'>code repo</a>] [<a href='https://toolhub.wikimedia.org/tools/mm_petscan'>ToolHub</a>] [<a href='https://www.wikidata.org/wiki/Q23665536' class='wikidata'>Wikidata item</a>]</li>
<li><b><a href='https://toolflow.toolforge.org' >Toolflow</a></b> Aggregate, filter, and modify output from other tools <i>Under development</i></li>
<li><b><a href='https://www.wikidata.org/wiki/User:Magnus_Manske/wd_edit.js'  class="wikidata">Listeria WD edit</a></b> Generates lists on Wikipedias, based on Wikidata queries. Daily updates. <i>JavaScript on wiki: Helper code for Listeria</i> [<a href='https://toolhub.wikimedia.org/tools/mm_listeriawdedit'>ToolHub</a>]</li>
<li><b>Listeriabot</b> Generates lists on Wikipedias, based on Wikidata queries. Daily updates. [<a href='https://bitbucket.org/magnusmanske/listeria' class='external'>code repo</a>] [<a href='https://toolhub.wikimedia.org/tools/mm_listeria'>ToolHub</a>] [<a href='https://www.wikidata.org/wiki/Q24045615' class='wikidata'>Wikidata item</a>]</li>
</ul></div>


<div class="row"><h2 id='linked_data'>Linked data</h2>
<ul>
<li><b><a href='https://isbn-usage.toolforge.org' >Isbn-usage</a></b> [<a href='https://toolhub.wikimedia.org/tools/mm_isbn-usage'>ToolHub</a>]</li>
<li><b><a href='https://isbn2wiki.toolforge.org' >Isbn2wiki</a></b> Generates wikitext reference texts for ISBNs. [<a href='https://toolhub.wikimedia.org/tools/mm_isbn2wiki'>ToolHub</a>]</li>
<li><b><a href='https://reasonator.toolforge.org' >Reasonator</a></b> Human-readable display of Wikidata. [<a href='https://bitbucket.org/magnusmanske/reasonator' class='external'>code repo</a>] [<a href='https://toolhub.wikimedia.org/tools/mm_reasonator'>ToolHub</a>]</li>
<li><b><a href='https://wikidata-todo.toolforge.org/relator' >Relator</a></b> Lets you browse and edit family relationships on Wikidata <i>Own dir</i> [<a href='https://toolhub.wikimedia.org/tools/mm_relator'>ToolHub</a>]</li>
<li><b><a href='https://wikidata-todo.toolforge.org/resolver.php' >Resolver</a></b> Forwards to a Wikidata item, given a unique property and (string) value combination. <i>OK</i> [<a href='https://toolhub.wikimedia.org/tools/mm_resolver'>ToolHub</a>]</li>
</ul></div>


<div class="row"><h2 id='bots'>Bots</h2>
<ul>
<li><b><a href='https://listeria.toolforge.org/botstatus' >Botstatus</a></b> Status of the Listeria bot [<a href='https://toolhub.wikimedia.org/tools/mm_botstatus'>ToolHub</a>]</li>
<li><b><a href='https://magnus-toolserver.toolforge.org/implicator_bot.php' >Implicator bot</a></b> <i>Might not work</i> [<a href='https://toolhub.wikimedia.org/tools/mm_implicator_bot'>ToolHub</a>]</li>
<li><b><a href='https://magnus-toolserver.toolforge.org/upload_bot.pl' >Upload bot</a></b> <i>Might not work</i> [<a href='https://toolhub.wikimedia.org/tools/mm_upload_bot'>ToolHub</a>]</li>
<li><b><a href='https://upload-stats-bot.toolforge.org' >Upload-stats-bot</a></b> <i>Not a web interface</i> [<a href='https://toolhub.wikimedia.org/tools/mm_upload-stats-bot'>ToolHub</a>] <i>NOTE: No webservice</i></li>
<li><b>Listeriabot</b> Generates lists on Wikipedias, based on Wikidata queries. Daily updates. [<a href='https://bitbucket.org/magnusmanske/listeria' class='external'>code repo</a>] [<a href='https://toolhub.wikimedia.org/tools/mm_listeria'>ToolHub</a>] [<a href='https://www.wikidata.org/wiki/Q24045615' class='wikidata'>Wikidata item</a>]</li>
<li><b>Reinheitsgebot</b> <i>bot</i> <i>NOTE: No webservice</i></li>
</ul></div>


<div class="row"><h2 id='ported_from_toolserver'>Ported from toolserver</h2>
<ul>
<li><b><a href='https://magnus-toolserver.toolforge.org/add_infobox.php' >Add infobox</a></b> <i>Might not work</i> [<a href='https://toolhub.wikimedia.org/tools/mm_add_infobox'>ToolHub</a>]</li>
<li><b><a href='https://magnus-toolserver.toolforge.org/alias.php' >Alias</a></b> <i>Might not work</i> [<a href='https://toolhub.wikimedia.org/tools/mm_alias'>ToolHub</a>]</li>
<li><b><a href='https://magnus-toolserver.toolforge.org/amalglamate.php' >Amalglamate</a></b> <i>Might not work</i> [<a href='https://toolhub.wikimedia.org/tools/mm_amalglamate'>ToolHub</a>]</li>
<li><b><a href='https://magnus-toolserver.toolforge.org/articleweight.php' >Articleweight</a></b> <i>Might not work</i> [<a href='https://toolhub.wikimedia.org/tools/mm_articleweight'>ToolHub</a>]</li>
<li><b><a href='https://magnus-toolserver.toolforge.org/bibber.php' >Bibber</a></b> <i>Might not work</i> [<a href='https://toolhub.wikimedia.org/tools/mm_bibber'>ToolHub</a>]</li>
<li><b><a href='https://magnus-toolserver.toolforge.org/bibcomm.php' >Bibcomm</a></b> [<a href='https://toolhub.wikimedia.org/tools/mm_bibcomm'>ToolHub</a>]</li>
<li><b><a href='https://magnus-toolserver.toolforge.org/biblebay.php' >Biblebay</a></b> <i>Might not work</i> [<a href='https://toolhub.wikimedia.org/tools/mm_biblebay'>ToolHub</a>]</li>
<li><b><a href='https://magnus-toolserver.toolforge.org/bibliophil.php' >Bibliophil</a></b> <i>Might not work</i> [<a href='https://toolhub.wikimedia.org/tools/mm_bibliophil'>ToolHub</a>]</li>
<li><b><a href='https://magnus-toolserver.toolforge.org/biblotag.js' >Biblotag</a></b> <i>[JS part]</i></li>
<li><b><a href='https://magnus-toolserver.toolforge.org/biblotag.php' >Biblotag</a></b> <i>[PHP part]</i></li>
<li><b><a href='https://magnus-toolserver.toolforge.org/bong.js' >Bong</a></b> <i>Might not work</i></li>
<li><b><a href='https://magnus-toolserver.toolforge.org/bong.php' >Bong</a></b> Bing-like Wikimedia search interface. <i>Might not work</i> [<a href='https://toolhub.wikimedia.org/tools/mm_bong'>ToolHub</a>]</li>
<li><b><a href='https://magnus-toolserver.toolforge.org/bookie.php' >Bookie</a></b> <i>Might not work</i> [<a href='https://toolhub.wikimedia.org/tools/mm_bookie'>ToolHub</a>]</li>
<li><b><a href='https://magnus-toolserver.toolforge.org/browser_saver.php' >Browser saver</a></b> <i>Might not work</i> [<a href='https://toolhub.wikimedia.org/tools/mm_browser_saver'>ToolHub</a>]</li>
<li><b><a href='https://magnus-toolserver.toolforge.org/catlitter.php' >Catlitter</a></b> A tool to mass-add categories and templates to images. Images in "Category:Media needing categories" are grouped by user, as users tend to upload similar files. <i>Might not work</i> [<a href='https://toolhub.wikimedia.org/tools/mm_catlitter'>ToolHub</a>]</li>
<li><b><a href='https://magnus-toolserver.toolforge.org/cfapi.php' >Cfapi</a></b> <i>Might not work</i> [<a href='https://toolhub.wikimedia.org/tools/mm_cfapi'>ToolHub</a>]</li>
<li><b><a href='https://magnus-toolserver.toolforge.org/class_imagedata.php' >Class imagedata</a></b> <i>Might not work</i> [<a href='https://toolhub.wikimedia.org/tools/mm_class_imagedata'>ToolHub</a>]</li>
<li><b><a href='https://magnus-toolserver.toolforge.org/class_wikiquery.php' >Class wikiquery</a></b> <i>Might not work</i> [<a href='https://toolhub.wikimedia.org/tools/mm_class_wikiquery'>ToolHub</a>]</li>
<li><b><a href='https://magnus-toolserver.toolforge.org/comdel.php' >Comdel</a></b> <i>Might not work</i> [<a href='https://toolhub.wikimedia.org/tools/mm_comdel'>ToolHub</a>]</li>
<li><b><a href='https://magnus-toolserver.toolforge.org/commcomm' >Commcomm</a></b> [<a href='https://toolhub.wikimedia.org/tools/mm_commcomm'>ToolHub</a>]</li>
<li><b><a href='https://magnus-toolserver.toolforge.org/commons_counter.php' >Commons counter</a></b> <i>Might not work</i> [<a href='https://toolhub.wikimedia.org/tools/mm_commons_counter'>ToolHub</a>]</li>
<li><b><a href='https://magnus-toolserver.toolforge.org/commonsapi' >Commonsapi</a></b> Might not work <i>Might not work</i> [<a href='https://toolhub.wikimedia.org/tools/mm_commonsapi'>ToolHub</a>]</li>
<li><b><a href='https://magnus-toolserver.toolforge.org/coord_gen.php' >Coord gen</a></b> <i>Might not work</i> [<a href='https://toolhub.wikimedia.org/tools/mm_coord_gen'>ToolHub</a>]</li>
<li><b><a href='https://magnus-toolserver.toolforge.org/creationist.php' >Creationist</a></b> <i>Might not work</i> [<a href='https://toolhub.wikimedia.org/tools/mm_creationist'>ToolHub</a>]</li>
<li><b><a href='https://magnus-toolserver.toolforge.org/darBNDer.php' >DarBNDer</a></b> <i>Might not work</i> [<a href='https://toolhub.wikimedia.org/tools/mm_darbnder'>ToolHub</a>]</li>
<li><b><a href='https://magnus-toolserver.toolforge.org/de_bio.php' >De bio</a></b> <i>Might not work</i> [<a href='https://toolhub.wikimedia.org/tools/mm_de_bio'>ToolHub</a>]</li>
<li><b><a href='https://magnus-toolserver.toolforge.org/dnb.php' >Dnb</a></b> <i>Might not work</i> [<a href='https://toolhub.wikimedia.org/tools/mm_dnb'>ToolHub</a>]</li>
<li><b><a href='https://magnus-toolserver.toolforge.org/familiar.php' >Familiar</a></b> <i>Might not work</i> [<a href='https://toolhub.wikimedia.org/tools/mm_familiar'>ToolHub</a>]</li>
<li><b><a href='https://magnus-toolserver.toolforge.org/files_in_category.php' >Files in category</a></b> <i>Might not work</i> [<a href='https://toolhub.wikimedia.org/tools/mm_files_in_category'>ToolHub</a>]</li>
<li><b><a href='https://magnus-toolserver.toolforge.org/filterdone.php' >Filterdone</a></b> <i>Might not work</i> [<a href='https://toolhub.wikimedia.org/tools/mm_filterdone'>ToolHub</a>]</li>
<li><b><a href='https://magnus-toolserver.toolforge.org/fist_api.php' >Fist api</a></b> <i>Might not work</i> [<a href='https://toolhub.wikimedia.org/tools/mm_fist_api'>ToolHub</a>]</li>
<li><b><a href='https://magnus-toolserver.toolforge.org/fist_old.php' >Fist old</a></b> <i>Might not work</i> [<a href='https://toolhub.wikimedia.org/tools/mm_fist_old'>ToolHub</a>]</li>
<li><b><a href='https://magnus-toolserver.toolforge.org/flagellum.php' >Flagellum</a></b> <i>Might not work</i> [<a href='https://toolhub.wikimedia.org/tools/mm_flagellum'>ToolHub</a>]</li>
<li><b><a href='https://magnus-toolserver.toolforge.org/flickr_mass.php' >Flickr mass</a></b> <i>Might not work</i> [<a href='https://toolhub.wikimedia.org/tools/mm_flickr_mass'>ToolHub</a>]</li>
<li><b><a href='https://magnus-toolserver.toolforge.org/flickr_my_nogroup.php' >Flickr my nogroup</a></b> <i>Might not work</i> [<a href='https://toolhub.wikimedia.org/tools/mm_flickr_my_nogroup'>ToolHub</a>]</li>
<li><b><a href='https://magnus-toolserver.toolforge.org/forest4trees.php' >Forest4trees</a></b> <i>Might not work</i> [<a href='https://toolhub.wikimedia.org/tools/mm_forest4trees'>ToolHub</a>]</li>
<li><b><a href='https://magnus-toolserver.toolforge.org/generate_wikidata_book.pl' >Generate wikidata book</a></b> <i>Might not work</i> [<a href='https://toolhub.wikimedia.org/tools/mm_generate_wikidata_book'>ToolHub</a>]</li>
<li><b><a href='https://magnus-toolserver.toolforge.org/image_pages_without_image.php' >Image pages without image</a></b> <i>Might not work</i> [<a href='https://toolhub.wikimedia.org/tools/mm_image_pages_without_image'>ToolHub</a>]</li>
<li><b><a href='https://magnus-toolserver.toolforge.org/image_paranoia.php' >Image paranoia</a></b> <i>Might not work</i> [<a href='https://toolhub.wikimedia.org/tools/mm_image_paranoia'>ToolHub</a>]</li>
<li><b><a href='https://magnus-toolserver.toolforge.org/implicator_bot.php' >Implicator bot</a></b> <i>Might not work</i> [<a href='https://toolhub.wikimedia.org/tools/mm_implicator_bot'>ToolHub</a>]</li>
<li><b><a href='https://magnus-toolserver.toolforge.org/import_bib.php' >Import bib</a></b> <i>Might not work</i> [<a href='https://toolhub.wikimedia.org/tools/mm_import_bib'>ToolHub</a>]</li>
<li><b><a href='https://magnus-toolserver.toolforge.org/index.html' >Index</a></b> <i>Might not work</i></li>
<li><b><a href='https://magnus-toolserver.toolforge.org/infoboxes.php' >Infoboxes</a></b> <i>Might not work</i> [<a href='https://toolhub.wikimedia.org/tools/mm_infoboxes'>ToolHub</a>]</li>
<li><b><a href='https://magnus-toolserver.toolforge.org/isbn_usage.js' >Isbn usage</a></b> <i>Might not work</i></li>
<li><b><a href='https://magnus-toolserver.toolforge.org/isbn_usage.php' >Isbn usage</a></b> <i>Might not work</i></li>
<li><b><a href='https://magnus-toolserver.toolforge.org/js_page_titles.php' >Js page titles</a></b> <i>Might not work</i> [<a href='https://toolhub.wikimedia.org/tools/mm_js_page_titles'>ToolHub</a>]</li>
<li><b><a href='https://magnus-toolserver.toolforge.org/kmlhook.php' >Kmlhook</a></b> <i>Might not work</i> [<a href='https://toolhub.wikimedia.org/tools/mm_kmlhook'>ToolHub</a>]</li>
<li><b><a href='https://magnus-toolserver.toolforge.org/knights_template.php' >Knights template</a></b> <i>Might not work</i> [<a href='https://toolhub.wikimedia.org/tools/mm_knights_template'>ToolHub</a>]</li>
<li><b><a href='https://magnus-toolserver.toolforge.org/listimagesurls.php' >Listimagesurls</a></b> <i>Might not work</i> [<a href='https://toolhub.wikimedia.org/tools/mm_listimagesurls'>ToolHub</a>]</li>
<li><b><a href='https://magnus-toolserver.toolforge.org/liturgy.php' >Liturgy</a></b> <i>Might not work</i> [<a href='https://toolhub.wikimedia.org/tools/mm_liturgy'>ToolHub</a>]</li>
<li><b><a href='https://magnus-toolserver.toolforge.org/marcsman.php' >Marcsman</a></b> <i>Might not work</i> [<a href='https://toolhub.wikimedia.org/tools/mm_marcsman'>ToolHub</a>]</li>
<li><b><a href='https://magnus-toolserver.toolforge.org/missing_images.php' >Missing images</a></b> <i>Might not work</i> [<a href='https://toolhub.wikimedia.org/tools/mm_missing_images'>ToolHub</a>]</li>
<li><b><a href='https://magnus-toolserver.toolforge.org/missing_links.php' >Missing links</a></b> <i>Might not work</i> [<a href='https://toolhub.wikimedia.org/tools/mm_missing_links'>ToolHub</a>]</li>
<li><b><a href='https://magnus-toolserver.toolforge.org/misstake.php' >Misstake</a></b> Finds and ranks missing articles from page links <i>Might not work</i> [<a href='https://toolhub.wikimedia.org/tools/mm_misstake'>ToolHub</a>]</li>
<li><b><a href='https://magnus-toolserver.toolforge.org/most_wanted_encyclopaedia_topics.php' >Most wanted encyclopaedia topics</a></b> <i>Might not work</i> [<a href='https://toolhub.wikimedia.org/tools/mm_most_wanted_encyclopaedia_topics'>ToolHub</a>]</li>
<li><b><a href='https://magnus-toolserver.toolforge.org/my_commons_candidates.php' >My commons candidates</a></b> <i>Might not work</i> [<a href='https://toolhub.wikimedia.org/tools/mm_my_commons_candidates'>ToolHub</a>]</li>
<li><b><a href='https://magnus-toolserver.toolforge.org/mygallery.php' >Mygallery</a></b> <i>Might not work</i> [<a href='https://toolhub.wikimedia.org/tools/mm_mygallery'>ToolHub</a>]</li>
<li><b><a href='https://magnus-toolserver.toolforge.org/narative.php' >Narative</a></b> <i>Might not work</i> [<a href='https://toolhub.wikimedia.org/tools/mm_narative'>ToolHub</a>]</li>
<li><b><a href='https://magnus-toolserver.toolforge.org/normdaten' >Normdaten</a></b> <i>Might not work</i> [<a href='https://toolhub.wikimedia.org/tools/mm_normdaten'>ToolHub</a>]</li>
<li><b><a href='https://magnus-toolserver.toolforge.org/oggster.php' >Oggster</a></b> <i>Might not work</i> [<a href='https://toolhub.wikimedia.org/tools/mm_oggster'>ToolHub</a>]</li>
<li><b><a href='https://magnus-toolserver.toolforge.org/openlibrary_authors.php' >Openlibrary authors</a></b> <i>Might not work</i> [<a href='https://toolhub.wikimedia.org/tools/mm_openlibrary_authors'>ToolHub</a>]</li>
<li><b><a href='https://magnus-toolserver.toolforge.org/PDator.php' >PDator</a></b> <i>Might not work</i> [<a href='https://toolhub.wikimedia.org/tools/mm_pdator'>ToolHub</a>]</li>
<li><b><a href='https://magnus-toolserver.toolforge.org/pdf.php' >Pdf</a></b> <i>Might not work</i> [<a href='https://toolhub.wikimedia.org/tools/mm_pdf'>ToolHub</a>]</li>
<li><b><a href='https://magnus-toolserver.toolforge.org/persondata.php' >Persondata</a></b> Generates {{Persondata}} template (de/en) <i>Might not work</i> [<a href='https://toolhub.wikimedia.org/tools/mm_persondata'>ToolHub</a>]</li>
<li><b><a href='https://magnus-toolserver.toolforge.org/personendaten.php' >Personendaten</a></b> <i>Might not work</i></li>
<li><b><a href='https://magnus-toolserver.toolforge.org/phpdiff.php' >Phpdiff</a></b> <i>Might not work</i> [<a href='https://toolhub.wikimedia.org/tools/mm_phpdiff'>ToolHub</a>]</li>
<li><b><a href='https://magnus-toolserver.toolforge.org/pushforcommons.php' >Pushforcommons</a></b> <i>Might not work</i> [<a href='https://toolhub.wikimedia.org/tools/mm_pushforcommons'>ToolHub</a>]</li>
<li><b><a href='https://magnus-toolserver.toolforge.org/pushforcommons2.php' >Pushforcommons2</a></b> <i>Might not work</i> [<a href='https://toolhub.wikimedia.org/tools/mm_pushforcommons2'>ToolHub</a>]</li>
<li><b><a href='https://magnus-toolserver.toolforge.org/queryclass.php' >Queryclass</a></b> <i>Might not work</i> [<a href='https://toolhub.wikimedia.org/tools/mm_queryclass'>ToolHub</a>]</li>
<li><b><a href='https://magnus-toolserver.toolforge.org/redirector.php' >Redirector</a></b> Finds wanted redirects across WIkipedia languages <i>Might not work</i> [<a href='https://toolhub.wikimedia.org/tools/mm_redirector'>ToolHub</a>]</li>
<li><b><a href='https://magnus-toolserver.toolforge.org/related_places.php' >Related places</a></b> Generates KML for all places related to (linked from) an article <i>Might not work</i> [<a href='https://toolhub.wikimedia.org/tools/mm_related_places'>ToolHub</a>]</li>
<li><b><a href='https://magnus-toolserver.toolforge.org/related_timeline.php' >Related timeline</a></b> <i>Might not work</i> [<a href='https://toolhub.wikimedia.org/tools/mm_related_timeline'>ToolHub</a>]</li>
<li><b><a href='https://magnus-toolserver.toolforge.org/relicenser.php' >Relicenser</a></b> <i>Might not work</i> [<a href='https://toolhub.wikimedia.org/tools/mm_relicenser'>ToolHub</a>]</li>
<li><b><a href='https://magnus-toolserver.toolforge.org/replace_stuff.php' >Replace stuff</a></b> <i>Might not work</i> [<a href='https://toolhub.wikimedia.org/tools/mm_replace_stuff'>ToolHub</a>]</li>
<li><b><a href='https://magnus-toolserver.toolforge.org/save_a_blp.php' >Save a blp</a></b> <i>Might not work</i> [<a href='https://toolhub.wikimedia.org/tools/mm_save_a_blp'>ToolHub</a>]</li>
<li><b><a href='https://magnus-toolserver.toolforge.org/shadows_commons.php' >Shadows commons</a></b> <i>Might not work</i> [<a href='https://toolhub.wikimedia.org/tools/mm_shadows_commons'>ToolHub</a>]</li>
<li><b><a href='https://magnus-toolserver.toolforge.org/sifter_api.php' >Sifter api</a></b> <i>Might not work</i> [<a href='https://toolhub.wikimedia.org/tools/mm_sifter_api'>ToolHub</a>]</li>
<li><b><a href='https://magnus-toolserver.toolforge.org/sifterbooks.php' >Sifterbooks</a></b> <i>Might not work</i> [<a href='https://toolhub.wikimedia.org/tools/mm_sifterbooks'>ToolHub</a>]</li>
<li><b><a href='https://magnus-toolserver.toolforge.org/sources.php' >Sources</a></b> <i>Might not work</i> [<a href='https://toolhub.wikimedia.org/tools/mm_sources'>ToolHub</a>]</li>
<li><b><a href='https://magnus-toolserver.toolforge.org/spiegelei.php' >Spiegelei</a></b> <i>Might not work</i> [<a href='https://toolhub.wikimedia.org/tools/mm_spiegelei'>ToolHub</a>]</li>
<li><b><a href='https://magnus-toolserver.toolforge.org/stockphoto.js' >Stockphoto</a></b> <i>Might not work</i> [<a href='https://toolhub.wikimedia.org/tools/mm_stockphoto'>ToolHub</a>]</li>
<li><b><a href='https://magnus-toolserver.toolforge.org/summarizer.php' >Summarizer</a></b> <i>Might not work</i> [<a href='https://toolhub.wikimedia.org/tools/mm_summarizer'>ToolHub</a>]</li>
<li><b><a href='https://magnus-toolserver.toolforge.org/thetalkpage' >Thetalkpage</a></b> <i>Might not work</i> [<a href='https://toolhub.wikimedia.org/tools/mm_thetalkpage'>ToolHub</a>]</li>
<li><b><a href='https://magnus-toolserver.toolforge.org/transwiki_data.php' >Transwiki data</a></b> <i>Might not work</i> [<a href='https://toolhub.wikimedia.org/tools/mm_transwiki_data'>ToolHub</a>]</li>
<li><b><a href='https://magnus-toolserver.toolforge.org/treeviews.php' >Treeviews</a></b> <i>Might not work</i></li>
<li><b><a href='https://magnus-toolserver.toolforge.org/twic.php' >Twic</a></b> <i>Might not work</i> [<a href='https://toolhub.wikimedia.org/tools/mm_twic'>ToolHub</a>]</li>
<li><b><a href='https://magnus-toolserver.toolforge.org/upload_bot.pl' >Upload bot</a></b> <i>Might not work</i> [<a href='https://toolhub.wikimedia.org/tools/mm_upload_bot'>ToolHub</a>]</li>
<li><b><a href='https://magnus-toolserver.toolforge.org/watchflickr.php' >Watchflickr</a></b> <i>Might not work</i> [<a href='https://toolhub.wikimedia.org/tools/mm_watchflickr'>ToolHub</a>]</li>
<li><b><a href='https://magnus-toolserver.toolforge.org/wf_funs.php' >Wf funs</a></b> <i>Might not work</i> [<a href='https://toolhub.wikimedia.org/tools/mm_wf_funs'>ToolHub</a>]</li>
<li><b><a href='https://magnus-toolserver.toolforge.org/wikilendar.php' >Wikilendar</a></b> <i>Might not work</i> [<a href='https://toolhub.wikimedia.org/tools/mm_wikilendar'>ToolHub</a>]</li>
<li><b><a href='https://magnus-toolserver.toolforge.org/xml2json.php' >Xml2json</a></b> <i>Might not work</i> [<a href='https://toolhub.wikimedia.org/tools/mm_xml2json'>ToolHub</a>]</li>
<li><b><a href='https://magnus-toolserver.toolforge.org' >Magnus Toolserver</a></b> Old tools migrated from Toolserver [<a href='https://bitbucket.org/magnusmanske/magnus-toolserver' class='external'>code repo</a>] [<a href='https://toolhub.wikimedia.org/tools/mm_magnustoolserver'>ToolHub</a>]</li>
</ul></div>


<div class="row"><h2 id='templates'>Templates</h2>
<ul>
<li><b><a href='https://magnus-toolserver.toolforge.org/knights_template.php' >Knights template</a></b> <i>Might not work</i> [<a href='https://toolhub.wikimedia.org/tools/mm_knights_template'>ToolHub</a>]</li>
<li><b><a href='https://magnustools.toolforge.org/prep_art.php' >Prep art</a></b> Prepare art infoboxes for Wikipedia [<a href='https://toolhub.wikimedia.org/tools/mm_prep_art'>ToolHub</a>]</li>
<li><b><a href='https://magnustools.toolforge.org/prepbio.php' >Prepbio</a></b> Helps to generate infobox templates for biographies. [<a href='https://toolhub.wikimedia.org/tools/mm_prep_bio'>ToolHub</a>]</li>
<li><b><a href='https://makeref.toolforge.org' >Makeref</a></b> A form to generate references. [<a href='https://toolhub.wikimedia.org/tools/mm_makeref'>ToolHub</a>]</li>
<li><b><a href='https://templator.toolforge.org' >Templator</a></b> Generates templates from forms. [<a href='https://toolhub.wikimedia.org/tools/mm_templator'>ToolHub</a>]</li>
</ul></div>


<div class="row"><h2 id='code_only'>Code only</h2>
<ul>
<li><b><a href='https://magnustools.toolforge.org/legacy.php' >Legacy</a></b> Really ancient PHP code, still used by some tools</li>
<li><b>MediaWiki Rust</b> A Rust crate for interacting with MediaWiki installations <i>code only</i> [<a href='https://github.com/magnusmanske/mediawiki_rust' class='external'>code repo</a>] <i>NOTE: No webservice</i></li>
<li><b>Papers</b> <i>code only</i> [<a href='https://github.com/magnusmanske/semanticscholar' class='external'>code repo</a>] <i>NOTE: No webservice</i></li>
<li><b>Medrs</b> <i>code only</i> [<a href='https://github.com/magnusmanske/medrs' class='external'>code repo</a>] <i>NOTE: No webservice</i></li>
</ul></div>


<div class="row"><h2 id='sighted_articles'>Sighted articles</h2>
<ul>
<li><b><a href='https://sighting.toolforge.org/deep_insight' >Deep insight</a></b> Shows unsighted pages by category, including subcategories. [<a href='https://toolhub.wikimedia.org/tools/mm_deep_insight'>ToolHub</a>]</li>
<li><b><a href='https://sighting.toolforge.org/deep_out_of_sight' >Deep out of sight</a></b> Shows out-of-date sighted versions by category, including subcategories. [<a href='https://toolhub.wikimedia.org/tools/mm_deep_out_of_sight'>ToolHub</a>]</li>
<li><b><a href='https://sighting.toolforge.org/outofsight' >Outofsight</a></b> Randomly shows articles in de.wikipedia with out-of-date sighted versions. [<a href='https://toolhub.wikimedia.org/tools/mm_out_of_sight'>ToolHub</a>]</li>
<li><b><a href='https://sighting.toolforge.org/random_out_of_sight' >Random out of sight</a></b> Shows out-of-date sighted versions that only differ a little by size (typo fixes etc). [<a href='https://toolhub.wikimedia.org/tools/mm_random_out_of_sight'>ToolHub</a>]</li>
<li><b><a href='https://sighting.toolforge.org' >[Wrapper entry for sighting]</a></b> [<a href='https://bitbucket.org/magnusmanske/sighting' class='external'>code repo</a>]</li>
</ul></div>


<div class="row"><h2 id='api'>API</h2>
<ul>
<li><b><a href='https://wd-infernal.toolforge.org/' >Wd-infernal</a></b> An API to infer Wikidata statements from names, locations etc. <i>Rust</i> [<a href='https://github.com/magnusmanske/wd-infernal' class='external'>code repo</a>] [<a href='https://toolhub.wikimedia.org/tools/toolforge-wd-infernal'>ToolHub</a>]</li>
<li><b><a href='https://ac2wd.toolforge.org/' >Ac2wd</a></b> An API to generate statements and references for Wikidata from Authority Control sources [<a href='https://github.com/magnusmanske/auth2wd' class='external'>code repo</a>] [<a href='https://toolhub.wikimedia.org/tools/toolforge-ac2wd'>ToolHub</a>]</li>
</ul></div>


<div class="row"><h2 id='other'>Other</h2>
<ul>
<li><b><a href='https://catnap.toolforge.org' >Catnap</a></b> Lists Wikipedia articles in a category grouped by their other categories. [<a href='https://toolhub.wikimedia.org/tools/mm_catnap'>ToolHub</a>]</li>
<li><b><a href='https://magnustools.toolforge.org/authority_control.php' >Authority control</a></b></li>
<li><b><a href='https://magnustools.toolforge.org/autolinker_demo.html' >Autolinker demo</a></b></li>
<li><b><a href='https://magnustools.toolforge.org/autotools.php' >Autotools</a></b></li>
<li><b><a href='https://magnustools.toolforge.org/cas.php' >Cas</a></b> Shows links to CAS numbers for chemicals. [example: Trisodium phosphate] [<a href='https://toolhub.wikimedia.org/tools/mm_cas'>ToolHub</a>]</li>
<li><b><a href='https://magnustools.toolforge.org/get_article_intro.php' >Get article intro</a></b> Returns the first sentence of an article as JSONP. [<a href='https://toolhub.wikimedia.org/tools/mm_get_article_intro'>ToolHub</a>]</li>
<li><b><a href='https://magnustools.toolforge.org/get_distinct_authors.php' >Get distinct authors</a></b> Gives the distinct (non-IP) list of editors on a set of articles. [<a href='https://toolhub.wikimedia.org/tools/mm_get_distinct_authors'>ToolHub</a>]</li>
<li><b><a href='https://magnustools.toolforge.org/hay2.html' >Hay2</a></b> Alternative display of Hay's tool directory [<a href='https://toolhub.wikimedia.org/tools/mm_tooldir'>ToolHub</a>]</li>
<li><b><a href='https://magnustools.toolforge.org/herding_sheep.php' >Herding sheep</a></b> Shows the (last) edits of all users in a user category. [<a href='https://toolhub.wikimedia.org/tools/mm_herding_sheep'>ToolHub</a>]</li>
<li><b><a href='https://magnustools.toolforge.org/html2wiki.php' >Html2wiki</a></b> Can convert some HTML into wikitext, especially tables. [<a href='https://toolhub.wikimedia.org/tools/mm_html2wiki'>ToolHub</a>]</li>
<li><b><a href='https://magnustools.toolforge.org/index.html' >Index</a></b> Incomplete list of my tools</li>
<li><b><a href='https://magnustools.toolforge.org/js_toolinfo.json' >Js toolinfo</a></b></li>
<li><b><a href='https://magnustools.toolforge.org/ke.html' >Ke</a></b> A cheap hack for a Knowledge Engine, to discover information cross-project. [<a href='https://toolhub.wikimedia.org/tools/mm_ke'>ToolHub</a>]</li>
<li><b><a href='https://magnustools.toolforge.org/last_tools.php' >Last tools</a></b> List of Toolforge tools by descending creation date [<a href='https://toolhub.wikimedia.org/tools/mm_last_tools'>ToolHub</a>]</li>
<li><b><a href='https://magnustools.toolforge.org/logger.php' >Logger</a></b></li>
<li><b><a href='https://magnustools.toolforge.org/main.html' >Main</a></b></li>
<li><b><a href='https://magnustools.toolforge.org/mashwiki' >Mashwiki</a></b></li>
<li><b><a href='https://magnustools.toolforge.org/metronom.php' >Metronom</a></b>  Pageviews for articles you created!  [<a href='https://toolhub.wikimedia.org/tools/mm_metronom'>ToolHub</a>]</li>
<li><b><a href='https://magnustools.toolforge.org/missing_webtools.html' >Missing webtools</a></b></li>
<li><b><a href='https://magnustools.toolforge.org/multistatus.html' >Multistatus</a></b></li>
<li><b><a href='https://magnustools.toolforge.org/oauth_uploader.php' >Oauth uploader</a></b></li>
<li><b><a href='https://magnustools.toolforge.org/pipeline' >Pipeline</a></b></li>
<li><b><a href='https://magnustools.toolforge.org/quick_counter.php' >Quick counter</a></b> Simple user edit count breakdown, as a replacement for when supercount is down. [<a href='https://toolhub.wikimedia.org/tools/mm_edit_counter'>ToolHub</a>]</li>
<li><b><a href='https://magnustools.toolforge.org/randomarticle.php' >Randomarticle</a></b> Redirects to a random page in a category. [<a href='https://toolhub.wikimedia.org/tools/mm_random_page_in_cat'>ToolHub</a>]</li>
<li><b><a href='https://magnustools.toolforge.org/spacer.php' >Spacer</a></b> Look up satellites in NSSDCA and N2YO [<a href='https://toolhub.wikimedia.org/tools/mm_spacer'>ToolHub</a>]</li>
<li><b><a href='https://magnustools.toolforge.org/tab2wiki.php' >Tab2wiki</a></b> Converts tables (tab-delimited, e.g. copied from Excel) to Wikitext tables. [<a href='https://toolhub.wikimedia.org/tools/mm_tab2wiki'>ToolHub</a>]</li>
<li><b><a href='https://magnustools.toolforge.org/toolstatus.html' >Toolstatus</a></b></li>
<li><b><a href='https://magnustools.toolforge.org/transparent.php' >Transparent</a></b> Finds potential translators between two languages amongst Wikipedians. [<a href='https://toolhub.wikimedia.org/tools/mm_trans_parent'>ToolHub</a>]</li>
<li><b><a href='https://magnustools.toolforge.org/update_article_counter.php' >Update article counter</a></b> Updates the number of articles in a WikiProject. [<a href='https://toolhub.wikimedia.org/tools/mm_update_article_counter'>ToolHub</a>]</li>
<li><b><a href='https://magnustools.toolforge.org/uploader_distribution.php' >Uploader distribution</a></b></li>
<li><b><a href='https://magnustools.toolforge.org/whatelse.js' >Whatelse</a></b></li>
<li><b><a href='https://mix-n-match.toolforge.org/visual_match.html' >Visual tool</a></b> Helper tool for Mix'n'match, should be invoked from there [<a href='https://toolhub.wikimedia.org/tools/mm_visualtool'>ToolHub</a>]</li>
<li><b><a href='https://mix-n-match.toolforge.org/Importer' >Importer</a></b></li>
<li><b><a href='https://most-wanted.toolforge.org' >Most-wanted</a></b> Topics, measured by redlink count, for several languages. [<a href='https://bitbucket.org/magnusmanske/most-wanted' class='external'>code repo</a>] [<a href='https://toolhub.wikimedia.org/tools/mm_most_wanted'>ToolHub</a>]</li>
<li><b><a href='https://tooltranslate.toolforge.org' >Tooltranslate</a></b> Community-driven translation of tool interfaces [<a href='https://bitbucket.org/magnusmanske/tooltranslate' class='external'>code repo</a>] [<a href='https://toolhub.wikimedia.org/tools/mm_tooltranslate'>ToolHub</a>]</li>
<li><b><a href='https://wiki-todo.toolforge.org' >Wiki-todo</a></b> Finds articles with things to do for you! [<a href='https://toolhub.wikimedia.org/tools/mm_wiki_todo'>ToolHub</a>]</li>
<li><b><a href='https://wlmuk.toolforge.org' >Wlmuk</a></b> 2014 U.K Wiki Loves Monuments interface [<a href='https://bitbucket.org/magnusmanske/wikilovesmonuments-uk-2014' class='external'>code repo</a>] [<a href='https://toolhub.wikimedia.org/tools/wlmuk'>ToolHub</a>]</li>
<li><b><a href='https://de.wikipedia.org/wiki/MediaWiki:Gadget-ImageSiblings.js'  class="external">File siblings interface</a></b> Wikipedia JavaScript interface for File siblings. <i>JavaScript on wiki</i> [<a href='https://toolhub.wikimedia.org/tools/mm_file_siblings_interface'>ToolHub</a>]</li>
<li><b><a href='https://www.wikidata.org/wiki/User:Magnus_Manske/consistency_check.js'  class="wikidata">Consistency check</a></b> <i>JavaScript on wiki</i> [<a href='https://toolhub.wikimedia.org/tools/mm_consistencycheck'>ToolHub</a>]</li>
<li><b><a href='https://www.wikidata.org/wiki/User:Magnus_Manske/import_statements.js'  class="wikidata">Import statements</a></b> <i>JavaScript on wiki</i> [<a href='https://toolhub.wikimedia.org/tools/mm_importstatements'>ToolHub</a>]</li>
<li><b><a href='https://drawshield.toolforge.org/' >Drawshield</a></b> Draws a shield (Coat of Arms) from bespoke code [<a href='https://toolhub.wikimedia.org/tools/mm_drawshield'>ToolHub</a>]</li>
<li><b><a href='https://new-page-linker.toolforge.org' >New-page-linker</a></b> A tool to add, and fix existing, links to new pages [<a href='https://bitbucket.org/magnusmanske/new-page-linker' class='external'>code repo</a>] [<a href='https://toolhub.wikimedia.org/tools/toolforge-new-page-linker'>ToolHub</a>]</li>
<li><b><a href='https://magnustools.toolforge.org' >Magnus Tools</a></b> A list of Magnus' tools [<a href='https://bitbucket.org/magnusmanske/magnustools' class='external'>code repo</a>] [<a href='https://toolhub.wikimedia.org/tools/mm_magnustools'>ToolHub</a>]</li>
<li><b><a href='https://add-information.toolforge.org/no_information.php' >No-information</a></b> Files with no {{Information}} template. Merged from 'all_no_info' and 'mynoinfo' on toolserver. [<a href='https://toolhub.wikimedia.org/tools/mm_no_information'>ToolHub</a>]</li>
</ul></div>

