<script src="https://tools-static.wmflabs.org/magnustools/resources/js/wikidata.js"></script>

<template id='wd-link-template'>
	<span v-if='item=="LAST"'>
		LAST
	</span>
	<span v-else-if='typeof item!="undefined"'>
		<span v-if='as_text' class="wd-link-as-text">{{use_label}}</span>
		<a v-else :href='url' target='_blank' class='wikidata'>
			{{use_label}}
		</a>
		<small v-if='string_prop_value!=""'>
			({{string_prop_value}})
		</small>
		<small v-if='smallq'>[{{getItemID()}}]</small>
	</span>
</template>

<template id='wd-desc-template'>
<span>
	<span v-if='loaded'>
		<span v-if='show_autodesc'>
			<autodesc :item='item' mode='long' :key='item'/>
		</span>
		<span v-else>
			{{description}}
		</span>
		<span v-if='use_autodesc && description!=""' style='margin-left:0.2rem;'>
			<a href='#' @click.prevent='show_autodesc=!show_autodesc' :title='"show "+(show_autodesc?"manual":"autodesc")'>↻</a>
		</span>
	</span>
	<span v-else>
		...
	</span>
</span>
</template>

<script>
'use strict';

let wd_link_wd = new WikiData() ;
let wd_link_base = 'https://www.wikidata.org/wiki/' ;
let wd_ns_prefixes = {
	'Q': '',
	'P': 'Property:',
	'L': 'Lexeme:'
};

Vue.component ( 'wd-desc' , {
	props : [ 'item' , 'autodesc_fallback' , 'autodesc_first' , 'wd' , 'language' ] ,
	template : '#wd-desc-template' ,
	data : function () { return { loaded:false , description:'' , use_autodesc:false , show_autodesc:false } } ,
	created : function () {
		let me = this ;
		if ( me.autodesc_first*1>0 ) me.show_autodesc = true ;
		if ( me.autodesc_first || me.autodesc_fallback ) me.use_autodesc = true ;
		if ( me.getItemID() == '' ) return ; // No item
		me.wikidata().getItemBatch ( [me.getItemID()] , function () {
			let i = me.wikidata().getItem ( me.getItemID() ) ;
			if ( typeof i == 'undefined' ) return ;
			me.description = i.getDesc ( me.language ) ;
			// Show autodesc if fallback and manual description is empty
			if ( me.description=='' && me.use_autodesc ) me.show_autodesc = true ;
			me.loaded = true ;
		} ) ;
	} ,
	methods : {
		wikidata : function () {
			return this.wd ?? wd_link_wd;
		} ,
		getItemID : function () {
			let me = this ;
			if ( typeof me.item == 'undefined' ) return '' ;
			if ( /^\d+$/.test(''+me.item) ) return 'Q'+me.item ;
			return me.item.toUpperCase() ;
		} ,
	}
} ) ;


Vue.component ( 'wd-link' , {
	template : '#wd-link-template' ,
	props : [ 'item' , 'wd' , 'label' , 'as_text' , 'smallq' , 'language' , 'string_prop' ] ,
	data : function () { return { use_label:'' , url:'' , string_prop_value:'' } } ,
	created : function () {
		let me = this ;
		if ( typeof me.item == 'undefined' || me.item == '' ) return ;
		me.use_label = me.getItemID() ;
		me.url = wd_link_base + me.getItemTitle() ;
		if ( typeof me.label != 'undefined' && me.label != '' ) {
			me.use_label = me.label ;
			return ;
		}

		me.wikidata().getItemBatch ( [me.getItemID()] , function () {
			let i = me.wikidata().getItem ( me.getItemID() ) ;
			if ( typeof i == 'undefined' ) return ;
			if ( typeof me.language == 'undefined' ) me.use_label = i.getLabel () ;
			else me.use_label = i.getLabel ( me.language ) ;
			if ( typeof me.string_prop!="undefined" ) {
				me.string_prop_value = i.getStringsForProperty(me.string_prop).join('; ') ;
			}
		} ) ;
	} ,
	methods : {
		wikidata : function () {
			return this.wd ?? wd_link_wd;
		} ,
		getItemID : function () {
			let me = this ;
			if ( typeof me.item == 'undefined' ) return '' ;
			if ( /^\d+$/.test(''+me.item) ) return 'Q'+me.item ;
			return me.item.toUpperCase() ;
		} ,
		getItemTitle : function () {
			let me = this ;
			let id = me.getItemID() ;
			let ns_prefix = wd_ns_prefixes[id[0]] || '' ;
			return ns_prefix + id.replace('-', '#') ;
		}
	}
} ) ;
</script>
