<template id='widar-template'>
<div style='margin-left:5px;margin-right:5px;text-align:center' v-if="loaded">
	<div v-if='is_logged_in'>
		<slot name="loggedin">
			<div style='line-height:1.4em'>
				<span tt="welcome"></span>
				<br/>
				<a class='wikidata' target='_blank' :href='"https://www.wikidata.org/wiki/User:"+encodeURIComponent(userinfo.name.replace(/ /g,"_"))'>{{userinfo.name}}</a>
			</div>
		</slot>
	</div>
	<div v-else>
		<slot name="loggedout">
			<i tt="log_into_widar"></i>
		</slot>
	</div>
</div>
</template>

<script>
'use strict';
let widar ;
var widar_api_url ;

Vue.component ( 'widar' , {
	props : [] ,
	data : function () { return { is_logged_in:false , userinfo:{} , widar_api:'/widar/index.php' , loaded:false , toolname:'' , maximum_number_of_tries:-1 , last_error:'' } } ,
	created : function () {
		widar = this ;
		if ( typeof widar_api_url != 'undefined' ) this.widar_api = widar_api_url ;
		this.checkLogin()
	} ,
	updated : function () { tt.updateInterface(this.$el) } ,
	mounted : function () { tt.updateInterface(this.$el) } ,
	methods : {
		checkLogin : function () {
			let me = this ;
			$.get ( me.widar_api , {
				action:'get_rights',
				botmode:1
			} , function ( d ) {
				me.loaded = true ;
				if ( typeof d.result.query != 'undefined' && typeof d.result.query.userinfo != 'undefined' ) {
					me.is_logged_in = true ;
					me.userinfo = d.result.query.userinfo ;
				} else {
				}
			} , 'json' ) ;
/*
			fetch ( this.widar_api , {
				action:'get_rights',
				test:2,
				botmode:1
			} )	.then (response => response.json())
				.then ( (d) => {
					this.loaded = true ;
					if ( typeof d.result.query != 'undefined' && typeof d.result.query.userinfo != 'undefined' ) {
						this.is_logged_in = true ;
						this.userinfo = d.result.query.userinfo ;
					}
				} )
*/
		} ,
		run : function ( params , callback , number_of_tries = 0 ) {
			let me = this ;
			if ( me.maximum_number_of_tries>0 && number_of_tries>me.maximum_number_of_tries ) {
				console.log ( "Aborting after "+number_of_tries+" attempts") ;
				console.log ( me.last_error ) ;
				return callback() ;
			}
			if ( me.tool != '' && typeof params.tool_hashtag == 'undefined' ) params.tool_hashtag = me.toolname ;
			params.botmode = 1 ;
			$.post ( me.widar_api , params , function ( d ) {
				if ( d.error != 'OK' ) {
					//console.log ( 'WIDAR' , params ) ;
					if ( null != d.error.match(/Invalid token/) || null != d.error.match(/happen/) || null != d.error.match(/Problem creating item/) || ( params.action!='create_redirect' && null != d.error.match(/failed/) ) ) {
						me.last_error = d.error ;
						console.log ( "ERROR (re-trying)" , params , d ) ;
						setTimeout ( function () { me.run ( params , callback , number_of_tries+1 ) } , 500 ) ; // Again
					} else {
						console.log ( "ERROR (aborting)" , params , d ) ;
//						let h = "<li style='color:red'>ERROR (" + params.action + ") : " + d.error + "</li>" ;
//						$('#out ol').append(h) ;
						callback ( d ) ; // Continue anyway
					}
				} else {
					callback ( d ) ;
				}
			} , 'json' ) . fail(function() {
				console.log ( "Again" , params ) ;
				me.last_error = "POST fail" ;
				me.run ( params , callback , number_of_tries+1 ) ;
			}) ;
		} ,
		newClaimDate : function ( prop , d ) {
			let precision = 9 ; // 11=day, 10=month , 9=year
			let m ;
			
			let year ;
			let month = '01' ;
			let day = '01' ;
			
			m = d.match ( /^(\d+)-(\d+)-(\d+)$/ ) ;
			if ( m != null ) {
				precision = 11 ;
				year = '' + (m[1]*1) ;
				month = '' + (m[2]*1) ;
				day = '' + (m[3]*1) ;
			} else {
				m = d.match ( /^(\d+)-(\d+)$/ ) ;
				if ( m != null ) {
					precision = 10 ;
					year = '' + (m[1]*1) ;
					month = '' + (m[2]*1) ;
				} else {
					m = d.match ( /^(\d+)$/ ) ;
					if ( m != null ) {
						precision = 9 ;
						year = '' + (m[1]*1) ;
					} else return ; // No match
				}
			}
			
			if ( month.length == 1 ) month = '0' + month ;
			if ( day.length == 1 ) day = '0' + day ;
			let t = '+' + year + '-' + month + '-' + day + 'T00:00:00Z' ;
			
			
			return {
				mainsnak: {
					snaktype : 'value' ,
					property : prop ,
					datavalue : {
						value : {
							'time' : t ,
							'timezone' : 0 ,
							'before' : 0 ,
							'after' : 0 ,
							'precision' : precision ,
							'calendarmodel' : 'http://www.wikidata.org/entity/Q1985727'
						} ,
						type : 'time'
					} ,
					datatype : 'time' // Needed?
				} ,
				type : 'statement' ,
				rank : 'normal'
			} ;
		} ,
		newClaimEntity : function ( prop , target ) { // "Pxx" / "Qxx"
			return {
				mainsnak: {
					snaktype : 'value' ,
					property : prop ,
					datavalue : {
						value : {
							'entity-type' : 'item' ,
							'numeric-id' : target.replace(/\D/g,'') ,
							'id' : target
						} ,
						type : 'wikibase-entityid'
					} ,
					datatype : 'wikibase-item'
				} ,
				type : 'statement' ,
				rank : 'normal'
			} ;
		} ,
		newClaimString : function ( prop , text ) { // "Pxx" / ""
			return {
				mainsnak: {
					snaktype : 'value' ,
					property : prop ,
					datavalue : {
						value : $.trim(text) ,
						type : 'string'
					} ,
//					datatype : 'wikibase-item'
				} ,
				type : 'statement' ,
				rank : 'normal'
			} ;
		} ,
		runWBEditEntity : function ( q , data , summary , tool_hashtag , callback ) {
			let me = this ;
			let params = {
				action:'wbeditentity',
				id:q,
				data:JSON.stringify ( data )
			} ;
			params = {
				action : 'generic' ,
				summary : summary ,
				tool_hashtag : tool_hashtag ,
				json : JSON.stringify ( params )
			} ;
			me.run ( params , function ( d ) {
				callback ( d ) ;
			} ) ;
		} ,
		addClaimToItem : function ( q , claim , summary , tool_hashtag , callback ) {
			this.runWBEditEntity ( q , {claims:[claim]} , summary , tool_hashtag , callback ) ;
		} ,
		setLabelOrDescription : function ( type , q , lang , label , summary , tool_hashtag , callback ) {
			let me = this ;
			let params = {
				action:(type=='labels'?'wbsetlabel':'wbsetdescription'),
				id:q,
				language:lang,
				value:label
			} ;
			params = {
				action : 'generic' ,
				summary : summary ,
				tool_hashtag : tool_hashtag ,
				json : JSON.stringify ( params )
			} ;
			me.run ( params , function ( d ) {
				callback ( d ) ;
			} ) ;
		} ,
		setLabel : function ( q , lang , label , summary , tool_hashtag , callback ) {
			this.setLabelDescription ( 'labels' , q , lang , label , summary , tool_hashtag , callback ) ;
		} ,
		setDescription : function ( q , lang , label , summary , tool_hashtag , callback ) {
			this.setLabelDescription ( 'descriptions' , q , lang , label , summary , tool_hashtag , callback ) ;
		} ,
		getUserName : function () { return this.userinfo.name }
	} ,
	template : '#widar-template'
} ) ;
</script>
